Repository StepicOrg/stepik-ios, pull requests merged in 2018-09, with the labels that each got.

#360 Show unpublished stories for staff
  Stepic.xcodeproj/project.pbxproj
  Stepic/Model.xcdatamodeld/.xccurrentversion
  Stepic/Model.xcdatamodeld/Model_profile_staff_v24.xcdatamodel/contents
  Stepic/Profile+CoreDataProperties.swift
  Stepic/Profile.swift
  Stepic/StepicsAPI.swift
  Stepic/StoriesPresenter.swift
  Stepic/StoryTemplatesAPI.swift
  Stepic/User+CoreDataProperties.swift
Labels: main

#357 AB infrastructure
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic/AnalyticsEvent.swift
  Stepic/AnalyticsUserProperties.swift
  Stepic/AnalyticsUserPropertiesServiceProtocol.swift
  Stepic/AppDelegate.swift
  Stepic/Numbers+Random.swift
  Stepic/RemoteConfig.swift
  Stepic/SocialAuthHeaderView.swift
  Stepic/SocialAuthPresenter.swift
  Stepic/SocialAuthStringSplitTest.swift
  Stepic/SocialAuthViewController.swift
  Stepic/SplitTestGroupProtocol.swift
  Stepic/SplitTestProtocol.swift
  Stepic/SplitTestingService.swift
  Stepic/StringStorageServiceProtocol.swift
  Stepic/UserDefaults+StorageServiceProtocol.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: common

#365 Integrate with the Amplitude analytics
  .gitattributes
  ExamEGERussian/Resources/Config/Tokens.plist
  ExamEGERussian/Resources/Config/Tokens.swift
  ExamEGERussian/Sources/ApplicationLayer/AppDelegate.swift
  ExamEGERussian/Sources/ApplicationLayer/Command/AppLaunchingCommandsBuilder.swift
  ExamEGERussian/Sources/ApplicationLayer/Command/Command.swift
  ExamEGERussian/Sources/ApplicationLayer/Command/ConfigureKeyWindowCommand.swift
  ExamEGERussian/Sources/ApplicationLayer/Command/InitializeWebViewCommand.swift
  ExamEGERussian/Sources/ApplicationLayer/ThirdPartiesConfigurator.swift
  ExamEGERussian/Sources/Common/Analytics/AmplitudeAnalyticsEvents+Exam.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/KnowledgeGraph/KnowledgeGraph.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/Presenter/AdaptiveStepsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Pager/Presenter/StepsPagerPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/Presenter/TopicsPresenterImpl.swift
  Stepic.xcodeproj/project.pbxproj
Labels: exam

#362 Story analytics
  Stepic/AmplitudeAnalyticsEvents.swift
  Stepic/OpenedStoriesPageViewController.swift
  Stepic/OpenedStoriesPresenter.swift
  Stepic/Story.swift
  Stepic/StoryPresenter.swift
  Stepic/StoryViewController.swift
  Stepic/SwipeInteractionController.swift
  Stepic/TextStoryView.swift
Labels: main

#366 Fix bugs for StepViewController
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/View/StepViewController/StepViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/View/StepWebView.swift
Labels: exam

#363 Deeplink router
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic/AppDelegate.swift
  Stepic/DeepLinkRouter.swift
  Stepic/DeepLinkRoutingService.swift
  Stepic/DiscussionsViewController.swift
  Stepic/ModalOrPushStackRouter.swift
  Stepic/ModalRouter.swift
  Stepic/ModalRouterSourceProtocol.swift
  Stepic/ModalStackRouter.swift
  Stepic/ProfileAssembly.swift
  Stepic/PushRouter.swift
  Stepic/PushRouterSourceProtocol.swift
  Stepic/PushStackRouter.swift
  Stepic/RouterProtocol.swift
  Stepic/SourcelessRouter.swift
  Stepic/StoryAssembly.swift
  Stepic/TabBarRouter.swift
  Stepic/UIBarButtonItem+ActionClosure.swift
Labels: main
