Repository StepicOrg/stepik-ios, pull requests merged in 2018-03, with the labels that each got.

#246 User activity in profile
  Stepic.xcodeproj/project.pbxproj
  Stepic/MenuBlocks.swift
  Stepic/MenuUIManager.swift
  Stepic/PinsMap.swift
  Stepic/PinsMapExpandableMenuBlockTableViewCell.swift
  Stepic/PinsMapExpandableMenuBlockTableViewCell.xib
  Stepic/PinsMapView.swift
  Stepic/ProfilePresenter.swift
  Stepic/StandardsExtensions.swift
  Stepic/TitleContentExpandableMenuBlockTableViewCell.xib
  Stepic/UserActivity.swift
  StepicTests/PinsMapSpec.swift
  StepicTests/UserActivitySpec.swift
Labels: main

#248 Fix user activity view layout
  Stepic/AnalyticsEvents.swift
  Stepic/PinsMapExpandableMenuBlockTableViewCell.swift
  Stepic/PinsMapView.swift
  Stepic/ProfilePresenter.swift
Labels: main

#252 Fixes for user activity
  Stepic/PinsMapExpandableMenuBlockTableViewCell.xib
  Stepic/PinsMapView.swift
Labels: main

#249 Auth after onboarding
  Stepic/OnboardingViewController.swift
Labels: main

#251 Fix crash on iOS 9 devices
  Stepic/Adaptive.storyboard
  Stepic/BaseCardsStepsViewController.swift
  Stepic/CardStepViewController.swift
Labels: adaptive, bug, main

#250 New placeholders
  Stepic.xcodeproj/project.pbxproj
  Stepic/Base.lproj/Main.storyboard
  Stepic/DownloadsViewController.swift
  Stepic/Images.xcassets/New placeholders/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-downloads.imageset/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-downloads.imageset/new-empty-downloads.pdf
  Stepic/Images.xcassets/New placeholders/new-empty-empty.imageset/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-empty.imageset/new-empty-empty.pdf
  Stepic/Images.xcassets/New placeholders/new-empty-login.imageset/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-login.imageset/new-empty-login.pdf
  Stepic/Images.xcassets/New placeholders/new-empty-noconnection.imageset/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-noconnection.imageset/new-empty-noconnection.pdf
  Stepic/Images.xcassets/New placeholders/new-empty-notifications.imageset/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-notifications.imageset/new-empty-notifications.pdf
  Stepic/Images.xcassets/New placeholders/new-empty-search.imageset/Contents.json
  Stepic/Images.xcassets/New placeholders/new-empty-search.imageset/new-empty-search.pdf
  Stepic/Notifications.storyboard
  Stepic/NotificationsViewController.swift
  Stepic/StepikPlaceholder.swift
  Stepic/StepikPlaceholderView.swift
  Stepic/StepikPlaceholderView.xib
  Stepic/StepikTableView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: adaptive, enhancement, main

#254 Remove app from simulator before tests
  Stepic.xcodeproj/project.pbxproj
Labels: bug, main

#255 Update build schemas for adaptive targets
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/Adaptive 1906 Screenshots.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Adaptive 1906.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Adaptive 3067 Screenshots.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Adaptive GMAT.xcscheme
  Stepic/CardStepViewController.swift
Labels: adaptive, bug
