Repository StepicOrg/stepik-ios, pull requests merged in 2018-02, with the labels that each got.

#238 Deep Links for catalog and notifications
  Stepic/DeepLinkRouter.swift
Labels: main

#240 Сustom audio control
  Plyr/plyr.css
  Plyr/plyr.js
  Stepic.xcodeproj/project.pbxproj
  Stepic/HTMLBuilder.swift
  Stepic/Scripts.plist
  Stepic/Scripts.swift
Labels: adaptive, main

#241 Fix rate alert in adaptive app
  Stepic/RateAppViewController.xib
Labels: adaptive

#239 Fix expandable menu cell lags
  Stepic.xcodeproj/xcuserdata/Ostrenkiy.xcuserdatad/xcschemes/xcschememanagement.plist
  Stepic/MenuUIManager.swift
  Stepic/MenuViewController.swift
  Stepic/ProfilePresenter.swift
  Stepic/SwitchMenuBlockTableViewCell.xib
  Stepic/TitleContentExpandableMenuBlockTableViewCell.swift
Labels: main

#244 Fastlane improvement + Firebase update
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic.xcscheme
  Stepic.xcodeproj/xcuserdata/Ostrenkiy.xcuserdatad/xcschemes/xcschememanagement.plist
  Stepic/AnalyticsHelper.swift
  Stepic/AnalyticsReporter.swift
  Stepic/AppDelegate.swift
  Stepic/NotificationRegistrator.swift
  Stepic/RemoteConfig.swift
  StepicTests/CertificateSpec.swift
  fastlane/Fastfile
Labels: adaptive, main
