Repository StepicOrg/stepik-ios, pull requests merged in 2018-07, with the labels that each got.

#309 Amplitude fixes
  Stepic/AppDelegate.swift
  Stepic/CardStepPresenter.swift
Labels: main

#313 Fix personal deadline bugs
  Stepic/SectionsViewController.swift
Labels: main

#312 User registration for new exam target
  .gitattributes
  ExamEGERussian/Base.lproj/LaunchScreen.storyboard
  ExamEGERussian/Resources/Assets/Assets.xcassets/AppIcon.appiconset/Contents.json
  ExamEGERussian/Resources/Assets/Assets.xcassets/Contents.json
  ExamEGERussian/Sources/ApplicationLayer/AppDelegate/AppDelegate.swift
  ExamEGERussian/Sources/ApplicationLayer/RootNavigationManager/RootNavigationManager.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponents.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponentsAssembly.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/UserRegistrationService/UserRegistrationService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/UserRegistrationService/UserRegistrationServiceImplementation.swift
  ExamEGERussian/Sources/Helpers/RandomCredentialsGenerator/RandomCredentialsGenerator.swift
  ExamEGERussian/Sources/Helpers/RandomCredentialsGenerator/RandomCredentialsGeneratorImplementation.swift
  ExamEGERussian/Sources/PresentationLayer/Base.lproj/LaunchScreen.storyboard
  ExamEGERussian/Sources/PresentationLayer/UserStories/Main/MainViewController.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Main/MainViewController.xib
  ExamEGERussian/SupportingFiles/Auth.plist
  ExamEGERussian/SupportingFiles/Config.plist
  ExamEGERussian/SupportingFiles/Info.plist
  ExamEGERussianTests/AssembliesTests/ServiceComponentsAssemblyTests/ServiceComponentsAssemblyTests.swift
  ExamEGERussianTests/AssembliesTests/ServiceComponentsAssemblyTests/ServiceComponentsAssemblyTestsHelper.swift
  ExamEGERussianTests/LogicTests/UserRegistrationServiceTests/UserRegistrationServiceMock.swift
  ExamEGERussianTests/LogicTests/UserRegistrationServiceTests/UserRegistrationServiceTests.swift
  ExamEGERussianTests/PresentationTests/ModulesTests/MainModuleTests/MainViewControllerTests.swift
  ExamEGERussianTests/SupportingFiles/Info.plist
  ExamEGERussianUITests/ExamEGERussianUITests.swift
  ExamEGERussianUITests/SupportingFiles/Info.plist
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/ExamEGERussian.xcscheme
  StepicAdaptiveCourse/AdaptiveUserActions.swift
  StepicAdaptiveCourse/RandomCredentialsGeneratorImplementation.swift
Labels: exam

#311 Social signup without email handling
  Stepic/AuthAPI.swift
  Stepic/SocialAuthPresenter.swift
  Stepic/SocialAuthViewController.swift
  Stepic/SortingQuizViewController.swift
  Stepic/StepikPlaceholderView.swift
Labels: main

#317 Fill blanks bug
  Stepic/FillBlanksQuizViewController.swift
Labels: main

#319 Integrate SwiftLint into ExamEGERussian target
  ExamEGERussian/Sources/ApplicationLayer/AppDelegate/AppDelegate.swift
  ExamEGERussian/Sources/ApplicationLayer/RootNavigationManager/RootNavigationManager.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponents.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponentsAssembly.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/UserRegistrationService/UserRegistrationService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/UserRegistrationService/UserRegistrationServiceImplementation.swift
  ExamEGERussian/Sources/Helpers/RandomCredentialsGenerator/RandomCredentialsGenerator.swift
  ExamEGERussian/Sources/Helpers/RandomCredentialsGenerator/RandomCredentialsGeneratorImplementation.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Main/MainViewController.swift
  ExamEGERussianTests/AssembliesTests/ServiceComponentsAssemblyTests/ServiceComponentsAssemblyTests.swift
  ExamEGERussianTests/AssembliesTests/ServiceComponentsAssemblyTests/ServiceComponentsAssemblyTestsHelper.swift
  ExamEGERussianTests/LogicTests/UserRegistrationServiceTests/UserRegistrationServiceMock.swift
  ExamEGERussianTests/LogicTests/UserRegistrationServiceTests/UserRegistrationServiceTests.swift
  ExamEGERussianTests/PresentationTests/ModulesTests/MainModuleTests/MainViewControllerTests.swift
  ExamEGERussianUITests/ExamEGERussianUITests.swift
  Stepic.xcodeproj/project.pbxproj
Labels: exam

#321 Remove codebeat
  .codebeatignore
  README.md
Labels: main

#318 Implement graph data structure
  ExamEGERussian/Sources/CoreLayer/Graph/Base/AbstractGraph.swift
  ExamEGERussian/Sources/CoreLayer/Graph/Base/Edge.swift
  ExamEGERussian/Sources/CoreLayer/Graph/Base/Vertex.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/AdjacencyListGraph.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/GraphPathFinder.swift
  ExamEGERussianTests/AssembliesTests/ServiceComponentsAssemblyTests/ServiceComponentsAssemblyTestsHelper.swift
  ExamEGERussianTests/CoreLayerTests/Graph/GraphPathFinderTests.swift
  ExamEGERussianTests/CoreLayerTests/Graph/GraphTests.swift
  ExamEGERussianTests/LogicTests/UserRegistrationServiceTests/UserRegistrationServiceMock.swift
  Stepic.xcodeproj/project.pbxproj
Labels: exam

#330 Fix CongratulationViewController share URL
  Stepic/Config.plist
Labels: bug, main

#329 Exam application content
  ExamEGERussian/Sources/ApplicationLayer/AppDelegate/AppDelegate.swift
  ExamEGERussian/Sources/ApplicationLayer/RootNavigationManager/RootNavigationManager.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponents.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponentsAssembly.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/GraphService/GraphService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/GraphService/GraphServiceImpl.swift
  ExamEGERussian/Sources/Common/Builders/AbstractGraphBuilder/AbstractGraphBuilder.swift
  ExamEGERussian/Sources/Common/Builders/AbstractGraphBuilder/KnowledgeGraphBuilder.swift
  ExamEGERussian/Sources/Common/Extensions/UITableView/UITableView+Registration.swift
  ExamEGERussian/Sources/Common/Extensions/UITableView/UITableView+Reuse.swift
  ExamEGERussian/Sources/Common/Extensions/UITableViewCell/UITableViewCell+ReusableCell.swift
  ExamEGERussian/Sources/Common/Extensions/UITableViewHeaderFooterView/UITableViewHeaderFooterView+ReusableCell.swift
  ExamEGERussian/Sources/Common/Extensions/UIViewController/UIViewController+Alert.swift
  ExamEGERussian/Sources/Common/Helpers/RandomCredentialsGenerator/RandomCredentialsGenerator.swift
  ExamEGERussian/Sources/Common/Helpers/RandomCredentialsGenerator/RandomCredentialsGeneratorImplementation.swift
  ExamEGERussian/Sources/CoreLayer/Graph/Base/AbstractGraph.swift
  ExamEGERussian/Sources/CoreLayer/Graph/Base/Edge.swift
  ExamEGERussian/Sources/CoreLayer/Graph/Base/Vertex.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/AdjacencyListGraph.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/KnowledgeGraph/KnowledgeGraph.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/KnowledgeGraph/KnowledgeGraphLesson.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/KnowledgeGraph/KnowledgeGraphVertex.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/GoalPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/KnowledgeGraphPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/LessonPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/TopicPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/TopicsMapPlainObject.swift
  ExamEGERussian/Sources/Model/StepikResult.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Main/MainViewController.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/Presenter/TopicsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/Presenter/TopicsPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/View/TopicTableViewCell/TopicTableViewCell.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/View/TopicTableViewCell/TopicTableViewCell.xib
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/View/TopicsTableViewController/TopicsTableViewController.swift
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/View/TopicsTableViewController/TopicsTableViewController.xib
  ExamEGERussian/Sources/PresentationLayer/UserStories/Topics/View/TopicsView.swift
  ExamEGERussianTests/CoreLayerTests/Graph/GraphPathFinderTests.swift
  ExamEGERussianTests/CoreLayerTests/Graph/GraphTests.swift
  ExamEGERussianTests/Helpers/Creators/KnowledgeGraphPlainObject+Create.swift
  ExamEGERussianTests/Helpers/Creators/NSError+Create.swift
  ExamEGERussianTests/Helpers/Mocks/GraphServiceMock.swift
  ExamEGERussianTests/Helpers/Mocks/UserRegistrationServiceMock.swift
  ExamEGERussianTests/Helpers/Views/TopicsViewSpy.swift
  ExamEGERussianTests/LogicTests/UserRegistrationServiceTests.swift
  ExamEGERussianTests/PresentationTests/ModulesTests/MainModuleTests/MainViewControllerTests.swift
  ExamEGERussianTests/PresentationTests/TopicsModuleTests/TopicsPresenterTests.swift
  ExamEGERussianTests/PresentationTests/TopicsModuleTests/TopicsTableViewControllerTests.swift
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/ExamEGERussian.xcscheme
Labels: exam

#331 Fixed CourseList animations crashes (probably)
  Stepic/CourseListHorizontalViewController.swift
  Stepic/CourseListVerticalViewController.swift
Labels: bug, main

#334 New downloader in Section, Unit & Downloads controllers
  Stepic.xcodeproj/project.pbxproj
  Stepic/CacheManager.swift
  Stepic/ConnectionHelper.swift
  Stepic/DownloadTableViewCell.swift
  Stepic/DownloadsViewController.swift
  Stepic/Lesson.swift
  Stepic/Model_video_download_v24.xcdatamodeld/Model_video_download_v24.xcdatamodel/contents
  Stepic/PathManager.swift
  Stepic/Section.swift
  Stepic/SectionTableViewCell.swift
  Stepic/SectionsViewController.swift
  Stepic/StepicVideoPlayerViewController.swift
  Stepic/UnitTableViewCell.swift
  Stepic/UnitsViewController.swift
  Stepic/Video+CoreDataProperties.swift
  Stepic/Video.swift
  Stepic/VideoDownload.swift
  Stepic/VideoDownloadView.swift
  Stepic/VideoDownloadView.xib
  Stepic/VideoDownloaderManager.swift
  Stepic/VideoDownloaderTask.swift
  Stepic/VideoFileManager.swift
  Stepic/VideoLocationManager.swift
  Stepic/VideoStepViewController.swift
  TCBlobDownload.swift
  TCBlobDownloadManager.swift
Labels: main

#332 Show topic lessons
  ExamEGERussian/Resources/Assets/Assets.xcassets/logo.imageset/Contents.json
  ExamEGERussian/Resources/Assets/Assets.xcassets/logo.imageset/logo.png
  ExamEGERussian/Sources/ApplicationLayer/AppDelegate/AppDelegate.swift
  ExamEGERussian/Sources/ApplicationLayer/RootNavigationManager/RootNavigationManager.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponents.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Assemblies/ServiceComponentsAssembly/ServiceComponentsAssembly.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/CourseService/CourseService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/CourseService/CourseServiceImpl.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/EnrollmentService/EnrollmentService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/EnrollmentService/EnrollmentServiceImpl.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/GraphService/GraphService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/GraphService/GraphServiceImpl.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/LessonsService/LessonsService.swift
  ExamEGERussian/Sources/BusinessLogicLayer/Services/LessonsService/LessonsServiceImpl.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/KnowledgeGraphGoalPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/KnowledgeGraphLessonPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/KnowledgeGraphPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/KnowledgeGraphTopicPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/KnowledgeGraph/KnowledgeGraphTopicsMapPlainObject.swift
  ExamEGERussian/Sources/Model/PlainObjects/LessonPlainObject.swift
  ExamEGERussian/Sources/PresentationLayer/Base.lproj/LaunchScreen.storyboard
  ExamEGERussian/Sources/PresentationLayer/LaunchScreen.storyboard
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonTableViewCell/LessonTableViewCell.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonTableViewCell/LessonTableViewCell.xib
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsTableViewController/LessonsTableViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsTableViewController/LessonsTableViewController.xib
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsView.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/Presenter/TopicsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/Presenter/TopicsPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/View/TopicTableViewCell/TopicTableViewCell.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/View/TopicTableViewCell/TopicTableViewCell.xib
  ExamEGERussian/Sources/PresentationLayer/Topics/View/TopicsTableViewController/TopicsTableViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/View/TopicsTableViewController/TopicsTableViewController.xib
  ExamEGERussian/Sources/PresentationLayer/Topics/View/TopicsView.swift
  ExamEGERussianTests/AssembliesTests/ServiceComponentsAssemblyTests/ServiceComponentsAssemblyTestsHelper.swift
  ExamEGERussianTests/Helpers/Creators/KnowledgeGraphPlainObject+Create.swift
  ExamEGERussianTests/Helpers/Mocks/GraphServiceMock.swift
  ExamEGERussianTests/Helpers/Mocks/TopicsRouterMock.swift
  ExamEGERussianTests/PresentationTests/TopicsModuleTests/TopicsPresenterTests.swift
  ExamEGERussianTests/PresentationTests/TopicsModuleTests/TopicsTableViewControllerTests.swift
  Stepic.xcodeproj/project.pbxproj
Labels: exam
