Repository StepicOrg/stepik-ios, pull requests merged in 2018-08, with the labels that each got.

#335 Fastlane improvements
  Gemfile
  Stepic.xcodeproj/project.pbxproj
  cert/Step.mobileprovision
  cert/cert.p12
  cert/stepic_push.p12
  fastlane/Appfile
  fastlane/Deliverfile
  fastlane/Fastfile
  fastlane/Matchfile
  fastlane/Snapfile
  fastlane/actions/customize_screenshots.rb
Labels: common

#343 Specify versions for cocoapods
  Podfile
  Stepic.xcodeproj/project.pbxproj
  lint.sh
Labels: main

#344 Fix downloads crash on 32-bit devices
  Stepic/DownloaderTask.swift
  Stepic/VideoDownloaderTask.swift
Labels: main

#341 iOS Stories
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic/CachedValue.swift
  Stepic/CourseWidgetView.xib
  Stepic/DeepLinkRouter.swift
  Stepic/ExplorePresenter.swift
  Stepic/ExploreViewController.swift
  Stepic/GrowPresentAnimationController.swift
  Stepic/HTMLProcessor.swift
  Stepic/Images.xcassets/white cross.imageset/Contents.json
  Stepic/Images.xcassets/white cross.imageset/white cross.pdf
  Stepic/OpenedStoriesAssembly.swift
  Stepic/OpenedStoriesPageViewController.swift
  Stepic/OpenedStoriesPresenter.swift
  Stepic/SegmentedProgressView.swift
  Stepic/ShrinkDismissAnimationController.swift
  Stepic/Skeletonable+UICollectionView.swift
  Stepic/Source/Classes/RGPageViewController.swift
  Stepic/Source/Classes/RGTabBarItem.swift
  Stepic/Source/Classes/RGTabView.swift
  Stepic/Source/Extensions/RGPageViewController+UICollectionViewDataSource.swift
  Stepic/Source/Extensions/RGPageViewController+UICollectionViewDelegate.swift
  Stepic/Source/Extensions/RGPageViewController+UICollectionViewDelegateFlowLayout.swift
  Stepic/Source/Extensions/RGPageViewController+UIPageViewControllerDataSource.swift
  Stepic/Source/Extensions/RGPageViewController+UIPageViewControllerDelegate.swift
  Stepic/Source/Extensions/RGPageViewController+UIScrollViewDelegate.swift
  Stepic/Source/Extensions/RGPageViewController+UIToolbarDelegate.swift
  Stepic/Source/Extensions/UINavigationBar.swift
  Stepic/Source/Protocols/RGPageViewControllerDataSource.swift
  Stepic/Source/Protocols/RGPageViewControllerDelegate.swift
  Stepic/StepikButton.swift
  Stepic/StepikPlaceholderStyle+Placeholders.swift
  Stepic/StoriesAssembly.swift
  Stepic/StoriesPresenter.swift
  Stepic/StoriesViewController.swift
  Stepic/StoriesViewController.xib
  Stepic/Story.swift
  Stepic/StoryAssembly.swift
  Stepic/StoryCollectionViewCell.swift
  Stepic/StoryCollectionViewCell.xib
  Stepic/StoryNavigationDelegate.swift
  Stepic/StoryPartViewFactory.swift
  Stepic/StoryPresenter.swift
  Stepic/StorySkeletonPlaceholderView.xib
  Stepic/StoryTemplatesAPI.swift
  Stepic/StoryViewController.swift
  Stepic/StoryViewController.xib
  Stepic/SwipeInteractionController.swift
  Stepic/TextStoryView.swift
  Stepic/TextStoryView.xib
Labels: main

#349 Topological sort
  ExamEGERussian/Sources/CoreLayer/Graph/Base/Vertex.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/AdjacencyListGraph.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/KnowledgeGraph/KnowledgeGraph.swift
  ExamEGERussianTests/CoreLayerTests/Graph/TopologicalSortTests.swift
  Stepic.xcodeproj/project.pbxproj
Labels: exam

#350 Support localization
  ExamEGERussian/Sources/PresentationLayer/Auth/Greeting/View/AuthGreetingViewController/AuthGreetingViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Auth/Greeting/View/AuthGreetingViewController/Base.lproj/AuthGreetingViewController.xib
  ExamEGERussian/Sources/PresentationLayer/Auth/Greeting/View/HeaderEmptyAuthView.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Pager/Presenter/StepsPagerPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Pager/View/StepsPagerViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/Presenter/StepPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/Presenter/TopicsPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/Router/TopicsRouterImpl.swift
  Stepic.xcodeproj/project.pbxproj
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: exam

#354 Make tab bar controller as a root controller
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/Contents.json
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/learning-tab-bar.imageset/Contents.json
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/learning-tab-bar.imageset/learning-tab-bar-selected.png
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/learning-tab-bar.imageset/learning-tab-bar-selected@2x.png
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/learning-tab-bar.imageset/learning-tab-bar-selected@3x.png
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/training-tab-bar.imageset/Contents.json
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/training-tab-bar.imageset/training-tab-bar-selected.png
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/training-tab-bar.imageset/training-tab-bar-selected@2x.png
  ExamEGERussian/Resources/Assets/Assets.xcassets/Tab bar/training-tab-bar.imageset/training-tab-bar-selected@3x.png
  ExamEGERussian/Sources/ApplicationLayer/Assembly/ApplicationAssemblyImpl.swift
  ExamEGERussian/Sources/ApplicationLayer/Router/AppRouter.swift
  ExamEGERussian/Sources/Common/Router/BaseRouter.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Assembly/LessonsAssemblyImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/Assembly/AdaptiveStepsAssembly.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Assembly/StandartStepsAssembly.swift
  ExamEGERussian/Sources/PresentationLayer/Topics/View/TopicsTableViewController/TopicsTableViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: exam

#353 Page control for the theory step screen
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Pager/Model/StepsPagerDataSourceImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Pager/View/StepsPagerViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/View/StepViewController/StepViewController.swift
Labels: exam

#348 Adaptive reactions for exam application
  ExamEGERussian/Sources/CoreLayer/Graph/Base/Vertex.swift
  ExamEGERussian/Sources/Model/Builders/Controllers/QuizViewControllerBuilder.swift
  ExamEGERussian/Sources/Model/PlainObjects/StepPlainObject.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/Presenter/AdaptiveStepsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/Presenter/AdaptiveStepsPresenterProtocol.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/View/AdaptiveStepsView.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/View/AdaptiveStepsViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Pager/Presenter/StepsPagerPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/Assembly/StepAssembly.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/Assembly/StepAssemblyImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/Presenter/StepPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Standart/Step/Presenter/StepPresenterImpl.swift
  ExamEGERussianTests/ModelTests/PlainObjectsTests/StepPlainObjectTests.swift
  Stepic.xcodeproj/project.pbxproj
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: exam

#345 New course list view
  Stepic.xcodeproj/project.pbxproj
  Stepic/CourseListHorizontalViewController.swift
  Stepic/CourseListVerticalViewController.swift
  Stepic/CourseListView/CourseListCollectionViewCell.swift
  Stepic/CourseListView/CourseListCollectionViewDataSource.swift
  Stepic/CourseListView/CourseListCollectionViewDelegate.swift
  Stepic/CourseListView/CourseListView.swift
  Stepic/CourseListView/CourseListViewDelegate.swift
  Stepic/CourseListView/Extensions/UICollectionViewExtensions.swift
  Stepic/CourseListView/Extensions/UITableViewExtensions.swift
  Stepic/CourseListView/Helpers/FormatterHelper.swift
  Stepic/CourseListView/Layouts/BaseCourseListFlowLayout.swift
  Stepic/CourseListView/Layouts/HorizontalCourseListFlowLayout.swift
  Stepic/CourseListView/Layouts/VerticalCourseListFlowLayout.swift
  Stepic/CourseListView/Protocols/NibLoadable.swift
  Stepic/CourseListView/Protocols/ProgrammaticallyInitializableViewProtocol.swift
  Stepic/CourseListView/Protocols/Reusable.swift
  Stepic/CourseListView/Views/BounceButton.swift
  Stepic/CourseListView/Views/PaddingLabel.swift
  Stepic/CourseListView/Views/ProgressCircleImage.swift
  Stepic/CourseListView/Widget/CourseCoverImageView.swift
  Stepic/CourseListView/Widget/CourseWidgetButton.swift
  Stepic/CourseListView/Widget/CourseWidgetColorMode.swift
  Stepic/CourseListView/Widget/CourseWidgetCoverView.swift
  Stepic/CourseListView/Widget/CourseWidgetLabel.swift
  Stepic/CourseListView/Widget/CourseWidgetStatsItemView.swift
  Stepic/CourseListView/Widget/CourseWidgetStatsView.swift
  Stepic/CourseListView/Widget/CourseWidgetView.swift
  Stepic/CourseListView/Widget/CourseWidgetViewModel.swift
  Stepic/CourseListViewController.swift
  Stepic/CourseWidgetCollectionViewCell.swift
  Stepic/CourseWidgetCollectionViewCell.xib
  Stepic/CourseWidgetTableViewCell.swift
  Stepic/CourseWidgetTableViewCell.xib
  Stepic/CourseWidgetView.xib
  Stepic/OldCourseWidgetView.swift
Labels: main

#351 New exam lessons screen
  ExamEGERussian/Sources/Common/Assembly/AssemblyFactory.swift
  ExamEGERussian/Sources/Common/Assembly/AssemblyFactoryImpl.swift
  ExamEGERussian/Sources/CoreLayer/Graph/ConcreteClasses/KnowledgeGraph/KnowledgeGraphLesson.swift
  ExamEGERussian/Sources/Model/PlainObjects/LessonPlainObject.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Assembly/LessonsAssembly.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Assembly/LessonsAssemblyProtocol.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenter.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Presenter/LessonsPresenterProtocol.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Router/LessonsRouter.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Router/LessonsRouterImpl.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/Router/LessonsRouterProtocol.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonTableHeaderView/LessonTableHeaderView.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonTableHeaderView/LessonTableHeaderView.xib
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonTableViewCell/LessonTableViewCell.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonTableViewCell/LessonTableViewCell.xib
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsTableViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsTableViewController/LessonsTableViewController.swift
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsTableViewController/LessonsTableViewController.xib
  ExamEGERussian/Sources/PresentationLayer/Lessons/View/LessonsView.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/Assembly/AdaptiveStepsAssembly.swift
  ExamEGERussian/Sources/PresentationLayer/Steps/Adaptive/Assembly/AdaptiveStepsAssemblyProtocol.swift
  ExamEGERussianTests/ApplicationLayerTests/AssemblyFactoryTests.swift
  ExamEGERussianTests/Common/Mock/Assemblies/ApplicationAssemblyMock.swift
  ExamEGERussianTests/Common/Mock/Assemblies/AssemblyFactoryMock.swift
  ExamEGERussianTests/Common/Mock/Assemblies/LessonsAssemblyMock.swift
  ExamEGERussianTests/Common/Mock/Assemblies/StepsAssemblyMock.swift
  ExamEGERussianTests/CoreLayerTests/GraphTests/TopologicalSortTests.swift
  ExamEGERussianTests/PresentationLayerTests/TopicsTests/TopicsPresenterTests.swift
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/ExamEGERussian.xcscheme
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: exam
