Repository StepicOrg/stepik-ios, pull requests merged in 2018-04, with the labels that each got.

#259 Fix webview bugs in adaptive steps
  Stepic/CardStepViewController.swift
Labels: adaptive, bug, main

#258 New autocomplete keywords
  Stepic.xcodeproj/project.pbxproj
  Stepic/AutocompleteWords.swift
  Stepic/autocomplete_suggestions.plist
Labels: enhancement, main

#261 Video in background
  Stepic/Info.plist
  Stepic/Player.swift
  Stepic/RemoteConfig.swift
  Stepic/StepicVideoPlayerViewController.swift
  Stepic/Tooltip.swift
  Stepic/TooltipDefaultsManager.swift
  Stepic/TooltipFactory.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main

#264 Fix crash in discussions
  Stepic/DiscussionsViewController.swift
  Stepic/VideoStepViewController.swift
Labels: bug, main

#256 Replace old placeholders & empty states
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic/Base.lproj/Main.storyboard
  Stepic/CardsStepsViewController.swift
  Stepic/CertificatesStoryboard.storyboard
  Stepic/CertificatesViewController.swift
  Stepic/ControllerWithStepikPlaceholder.swift
  Stepic/DiscussionsViewController.swift
  Stepic/DiscussionsViewController.xib
  Stepic/DownloadsViewController.swift
  Stepic/MenuViewController.swift
  Stepic/NotificationsPagerViewController.swift
  Stepic/NotificationsViewController.swift
  Stepic/PlaceholderStyleExtensions.swift
  Stepic/PlaceholderTestViewController.swift
  Stepic/PlaceholderView.storyboard
  Stepic/PlaceholderView.swift
  Stepic/PlaceholderViewDataSource.swift
  Stepic/PlaceholderViewDelegate.swift
  Stepic/ProfileViewController.swift
  Stepic/QuizViewController.swift
  Stepic/SectionsViewController.swift
  Stepic/Stepic-Bridging-Header.h
  Stepic/StepikPlaceholder.swift
  Stepic/StepikPlaceholderStyle+Placeholders.swift
  Stepic/StepikPlaceholderView.swift
  Stepic/StepikTableView.swift
  Stepic/Styles.swift
  Stepic/UnitsViewController.swift
  StepicAdaptiveCourse/AdaptiveCardsStepsViewController.swift
  StepicAdaptiveCourse/AdaptiveCourseSelectViewController.swift
Labels: adaptive, enhancement, main

#266 Share button in profile for anonymous
  Stepic/ProfileViewController.swift
Labels: main

#267 Fix loading placeholder for sections & units
  Stepic/SectionsViewController.swift
  Stepic/StepikTableView.swift
  Stepic/UnitsViewController.swift
Labels: main

#276 Fix IQKeyboardManager version
  Podfile
Labels: main

#271 Fix placeholder localization for tags
  Stepic/CourseListViewController.swift
  Stepic/StepikTableView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: bug, main

#277 Add number and string quizzes to adaptive steps
  Stepic/CardStepPresenter.swift
Labels: adaptive, main

#272 Remove Sberbank
  Podfile
  Sb/GoogleService-Info.plist
  Sb/SbAppDelegate.swift
  Sb/SbAuth.storyboard
  Sb/SbControllerHelperLaunchExtension.swift
  Sb/SbEntranceViewController.swift
  Sb/SbEntranceViewController.xib
  Sb/SbLaunchScreen.xib
  Sb/SbSocialNetworks.swift
  Sb/SbStepicApplicationsInfo.swift
  Sb/SberbankUniversity-Info.plist
  Sb/SberbankUniversity.entitlements
  Sb/SberbankUniversity.xcassets/Contents.json
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Contents.json
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-40.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-40@2x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-40@3x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-60@2x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-60@3x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-76.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-76@2x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-83.5@2x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-Small.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-Small@2x.png
  Sb/SberbankUniversity.xcassets/SbAppIcon.appiconset/Icon-Small@3x.png
  Sb/SberbankUniversity.xcassets/SberbankUniversity_transparent.imageset/CU_Rus-1.png
  Sb/SberbankUniversity.xcassets/SberbankUniversity_transparent.imageset/Contents.json
  Sb/SberbankUniversity.xcassets/iTunesArtwork.imageset/Contents.json
  Sb/SberbankUniversity.xcassets/iTunesArtwork.imageset/iTunesArtwork.png
  Sb/SberbankUniversity.xcassets/iTunesArtwork.imageset/iTunesArtwork@2x.png
  Stepic.xcodeproj/project.pbxproj
  fastlane/Fastfile
Labels: main

#280 Fix placeholder constraints
  Stepic/Images.xcassets/New placeholders/new-empty-noconnection.imageset/new-empty-noconnection.pdf
  Stepic/StepikPlaceholderStyle+Placeholders.swift
  Stepic/StepikPlaceholderView.swift
  Stepic/StepikPlaceholderView.xib
Labels: main

#275 Code quiz settings
  Podfile
  Stepic.xcodeproj/project.pbxproj
  Stepic/CodeEditorPreferencesContainer.swift
  Stepic/CodeEditorPreviewView.swift
  Stepic/CodeEditorPreviewView.xib
  Stepic/CodeEditorSettingsPresenter.swift
  Stepic/CodeEditorSettingsViewController.swift
  Stepic/CodeElementsSize.swift
  Stepic/CodeLanguages.swift
  Stepic/CodeQuizViewController.swift
  Stepic/FullscreenCodeQuizViewController.swift
  Stepic/HeaderMenuBlockTableViewCell.xib
  Stepic/MenuBlocks.swift
  Stepic/MenuUIManager.swift
  Stepic/PreferencesContainer.swift
  Stepic/Profile.storyboard
  Stepic/RemoteConfig.swift
  Stepic/SettingsPresenter.swift
  Stepic/SettingsViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main

#273 Fix "no connection" placeholder in adaptive steps
  Stepic/BaseCardsStepsViewController.swift
  Stepic/CardsStepsViewController.swift
Labels: bug, main

#278 Appsee SDK integration
  Podfile
  Stepic.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Stepic/AnalyticsHelper.swift
  Stepic/Info.plist
Labels: main

#279 Fix user-agent
  Stepic.xcodeproj/project.pbxproj
  Stepic/APIEndpoint.swift
  Stepic/AlamofireDefaultSessionManager.swift
  Stepic/ApiRequestRetrier.swift
  Stepic/AttemptsAPI.swift
  Stepic/AvatarImageView.swift
  Stepic/EnrollmentsAPI.swift
  Stepic/QueriesAPI.swift
  Stepic/RemoteVersionManager.swift
  Stepic/RequestChain.swift
  Stepic/SearchResultsAPI.swift
  Stepic/Session.swift
  Stepic/StepikURLSessionConfiguration.swift
  Stepic/SubmissionsAPI.swift
  Stepic/UIImageView+SVGDownload.swift
  Stepic/Video.swift
  Stepic/ViewsAPI.swift
  StepicTests/UserAgentTests.swift
Labels: adaptive, bug, main

#286 Fixed crash in AppDelegate & updated fastlane to 2.93.1
  Stepic.xcodeproj/project.pbxproj
  Stepic/AppDelegate.swift
  Stepic/Info.plist
  StepicAdaptiveCourse/Content/1838/AdaptiveInfo.plist
  StepicAdaptiveCourse/Content/3124/AdaptiveInfo.plist
  StepicAdaptiveCourse/Content/3149/AdaptiveInfo.plist
  StepicAdaptiveCourse/Content/3150/AdaptiveInfo.plist
  StepicTests/Info.plist
  StepicWatch Extension/Info.plist
  StepicWatch/Info.plist
  StepikTV/Info.plist
  StepikTVTests/Info.plist
  StickerPackExtension/Info.plist
  UITests/Screenshots/Info.plist
  fastlane/Fastfile
Labels: main

#287 Label for adaptive courses
  Stepic/CourseListPresenter.swift
  Stepic/CourseListViewData.swift
  Stepic/CourseWidgetTableViewCell.swift
  Stepic/CourseWidgetView.swift
  Stepic/CourseWidgetView.xib
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: enhancement, main

#290 Minimal supported version for adaptive courses
  Stepic/RemoteConfig.swift
Labels: main

#289 De-anonymized adaptive leaderboards
  Stepic/AdaptiveRatingsAPI.swift
  Stepic/AdaptiveRatingsPresenter.swift
  Stepic/AdaptiveStatsPagerViewController.swift
  Stepic/User.swift
  StepicAdaptiveCourse/StringHelper.swift
Labels: adaptive, main

#288 Last step redirect after join a course
  Stepic/CourseListPresenter.swift
  Stepic/CoursePreviewViewController.swift
  Stepic/CourseSubscriber.swift
  Stepic/LastStepRouter.swift
  Stepic/SectionsAPI.swift
Labels: main

#291 New color for unselected items in tab bar
  Stepic/StyledTabBarViewController.swift
Labels: main

#293 Fix adaptive course label in loading state
  Stepic/CourseWidgetView.swift
  Stepic/LastStepRouter.swift
Labels: bug, main

#292 Fix 3D touch in course list
  Stepic/CourseListViewController.swift
Labels: main
