Repository StepicOrg/stepik-ios, pull requests merged in 2020-12, with the labels that each got.

#839 Release 1.152
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Config-Develop.plist
  Stepic/Config-Production.plist
  Stepic/Config-Release.plist
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/BaseCardsStepsViewController.swift
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/CardsStepsPresenter.swift
  Stepic/Legacy/Model/Network/Endpoints/AdaptiveRatingsAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/AdaptiveRatingsRestoreAPI.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetView.swift
  Stepic/Sources/Modules/ProfileEdit/ProfileEditInteractor.swift
  Stepic/Sources/Modules/ProfileEdit/ProfileEditProvider.swift
  Stepic/Sources/Modules/ProfileEdit/ProfileEditViewController.swift
  Stepic/Sources/Services/Models/Network/AdaptiveRatingsNetworkService.swift
  Stepic/Sources/Services/Models/Network/AdaptiveRatingsRestoreNetworkService.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main, release

#840 Update dependencies 1.153
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  fastlane/Fastfile
Labels: dependencies, main

#841 Course info tab reviews error placeholder
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/CourseInfoTabReviewsView.swift
Labels: main, 🆕 feature

#844 Fix choice quiz empty reply
  Stepic/Sources/Modules/Quizzes/BaseQuiz/BaseQuizViewController.swift
  Stepic/Sources/Modules/Quizzes/BaseQuiz/ChildProtocols/QuizInputProtocol.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizInteractor.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🐛 bug

#845 Fix MathJax undefined control sequence \N \Z \R
  Stepic/Legacy/Model/Constants/Scripts/Scripts.plist
Labels: main, 🐛 bug

#846 New catalog course list pagination
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Extensions/Foundation/Collection+SafeSubscript.swift
  Stepic/Sources/Extensions/Foundation/CollectionExtensions.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
Labels: main, 🆕 feature

#843 IAP refresh receipt
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsService.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPReceiptValidationService.swift
Labels: main

#847 Release 1.153
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Model/Constants/Scripts/Scripts.plist
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsService.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPReceiptValidationService.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/CourseInfoTabReviewsView.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/Views/NewProfileCertificatesView.swift
  Stepic/Sources/Modules/Quizzes/BaseQuiz/BaseQuizViewController.swift
  Stepic/Sources/Modules/Quizzes/BaseQuiz/ChildProtocols/QuizInputProtocol.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizInteractor.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main

#849 Update dependencies 1.154
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  fastlane/Fastfile
Labels: dependencies, main

#850 Refresh home enrolled course list on empty state
  Stepic/Sources/Modules/Home/HomeViewController.swift
Labels: main, 🐛 bug

#848 Course query params
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
Labels: main, 🆕 feature

#852 New catalog simple course lists grid
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/CourseListSimpleGrid/Contents.json
  Stepic/Images.xcassets/CourseListSimpleGrid/course-list-simple-grid-placeholder.imageset/Contents.json
  Stepic/Images.xcassets/CourseListSimpleGrid/course-list-simple-grid-placeholder.imageset/course-list-simple-grid-placeholder-dark.png
  Stepic/Images.xcassets/CourseListSimpleGrid/course-list-simple-grid-placeholder.imageset/course-list-simple-grid-placeholder-light.pdf
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListDataFlow.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/Cell/DefaultSimpleCourseListCollectionViewCell.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/Cell/DefaultSimpleCourseListWidgetView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListCollectionViewDataSource.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListCollectionViewDelegate.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListHorizontalFlowLayout.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/Cell/GridSimpleCourseListCollectionViewCell.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/Cell/GridSimpleCourseListWidgetView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/GridSimpleCourseListCollectionViewDataSource.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/GridSimpleCourseListCollectionViewDelegate.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/GridSimpleCourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/SectionHeader/GridSimpleCourseListCollectionHeaderContentView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/SectionHeader/GridSimpleCourseListCollectionHeaderView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListCollectionViewDataSource.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListCollectionViewDelegate.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListView.swift
  Stepic/Theme/ColorPalette.swift
Labels: main, 🆕 feature

#853 New catalog similar course lists
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/CourseList/CourseList+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseList/CourseListModel.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_list_similar_v68.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/CourseListsAPI.swift
  Stepic/Sources/Modules/CourseList/CourseListAssembly.swift
  Stepic/Sources/Modules/CourseList/InputOutput/CourseListInputProtocol.swift
  Stepic/Sources/Modules/CourseList/InputOutput/CourseListOutputProtocol.swift
  Stepic/Sources/Modules/CourseList/Interactor/CourseListInteractor.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListProvider.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/AuthorsCourseListAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/AuthorsCourseListDataFlow.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/AuthorsCourseListInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/AuthorsCourseListPresenter.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/AuthorsCourseListProvider.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListDataFlow.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListPresenter.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListProvider.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/Cell/DefaultSimpleCourseListWidgetView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/GridSimpleCourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListView.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListDataFlow.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListInteractor.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListPresenter.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListView.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListViewController.swift
  Stepic/Sources/Services/Models/Network/CourseListsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseListsCollectionPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#854 Release 1.154
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/Home/HomeViewController.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main, release

#855 Update dependencies 1.155
  Podfile
  Podfile.lock
Labels: dependencies, main

#856 Update search course params
  Stepic/Legacy/Model/Network/Endpoints/SearchResultsAPI.swift
Labels: main, 🆕 feature

#857 New catalog prepare
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/CourseList/Views/CourseListCollectionViewCell.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListColorMode.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetCoverView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetLabel.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/SmallCourseWidgetView.swift
  Stepic/Sources/Modules/Explore/View/CourseListContainerViewFactory.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockContainerView/ExploreBlockContainerView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockContainerView/ExploreCatalogBlockContainerView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockHeaderView/ExploreBlockHeaderView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockHeaderView/ExploreCatalogBlockHeaderView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/Views/AuthorsCourseListCollectionViewCell.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/Views/AuthorsCourseListHorizontalFlowLayout.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/AuthorsCourseList/Views/AuthorsCourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListHorizontalFlowLayout.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/GridSimpleCourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/SectionHeader/GridSimpleCourseListCollectionHeaderView.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContentLanguageSwitch/Views/ContentLanguageSwitchButton.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContentLanguageSwitch/Views/ContentLanguageSwitchView.swift
  Stepic/Sources/Modules/ExploreSubmodules/Tags/TagsView.swift
  Stepic/Sources/Modules/Home/HomeViewController.swift
  Stepic/Sources/Views/Layouts/LeftAlignedCollectionViewFlowLayout.swift
Labels: main, 🆕 feature

#858 Stories reactions
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/Stories/stories-reaction-dislike.imageset/Contents.json
  Stepic/Images.xcassets/Stories/stories-reaction-dislike.imageset/stories-reaction-dislike.pdf
  Stepic/Images.xcassets/Stories/stories-reaction-like.imageset/Contents.json
  Stepic/Images.xcassets/Stories/stories-reaction-like.imageset/stories-reaction-like.pdf
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/Stories/Story/StoryAssembly.swift
  Stepic/Legacy/Controllers/Stories/Story/StoryPresenter.swift
  Stepic/Legacy/Controllers/Stories/Story/StoryProtocols.swift
  Stepic/Legacy/Controllers/Stories/StoryPartViews/StoryReactionsView.swift
  Stepic/Legacy/Controllers/Stories/StoryPartViews/TextStoryView.swift
  Stepic/Legacy/Model/Entities/StoryPartReaction/StoryPartReaction+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/StoryPartReaction/StoryPartReaction.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_stories_reactions_v69.xcdatamodel/contents
  Stepic/Sources/Services/AppData/LogoutDataClearService.swift
  Stepic/Sources/Services/Models/Persistence/StoryPartsReactionsPersistenceService.swift
Labels: main, 🆕 feature

#859 Steps is_enabled
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Step/Step+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Step/Step.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_steps_is_enabled_v70.xcdatamodel/contents
  Stepic/Legacy/Model/PlainObjects/StepPlainObject.swift
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  Stepic/Sources/Modules/Step/StepAssembly.swift
  Stepic/Sources/Modules/Step/StepDataFlow.swift
  Stepic/Sources/Modules/Step/StepInteractor.swift
  Stepic/Sources/Modules/Step/StepPresenter.swift
  Stepic/Sources/Modules/Step/StepView.swift
  Stepic/Sources/Modules/Step/StepViewController.swift
  Stepic/Sources/Modules/Step/Views/StepDisabledView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/ModulesTests/NewStepViewControllerTests.swift
Labels: main, 🆕 feature

#861 Fix quiz title visibility
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/Quizzes/BaseQuiz/ChildProtocols/QuizInputProtocol.swift
  Stepic/Sources/Modules/Quizzes/CodeQuiz/CodeQuizDataFlow.swift
  Stepic/Sources/Modules/Quizzes/CodeQuiz/CodeQuizInteractor.swift
  Stepic/Sources/Modules/Quizzes/CodeQuiz/CodeQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/CodeQuiz/CodeQuizView.swift
  Stepic/Sources/Modules/Quizzes/FillBlanksQuiz/Views/FillBlanksQuizView.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizDataFlow.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizInteractor.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizViewModel.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/Views/NewChoiceQuizView.swift
  Stepic/Sources/Modules/Quizzes/NewFreeAnswerQuiz/NewFreeAnswerQuizDataFlow.swift
  Stepic/Sources/Modules/Quizzes/NewFreeAnswerQuiz/NewFreeAnswerQuizInteractor.swift
  Stepic/Sources/Modules/Quizzes/NewFreeAnswerQuiz/NewFreeAnswerQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/NewFreeAnswerQuiz/NewFreeAnswerQuizView.swift
  Stepic/Sources/Modules/Quizzes/NewFreeAnswerQuiz/NewFreeAnswerQuizViewModel.swift
  Stepic/Sources/Modules/Quizzes/NewMatchingQuiz/NewMatchingQuizDataFlow.swift
  Stepic/Sources/Modules/Quizzes/NewMatchingQuiz/NewMatchingQuizInteractor.swift
  Stepic/Sources/Modules/Quizzes/NewMatchingQuiz/NewMatchingQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/NewMatchingQuiz/NewMatchingQuizViewModel.swift
  Stepic/Sources/Modules/Quizzes/NewMatchingQuiz/Views/NewMatchingQuizView.swift
  Stepic/Sources/Modules/Quizzes/NewSortingQuiz/NewSortingQuizDataFlow.swift
  Stepic/Sources/Modules/Quizzes/NewSortingQuiz/NewSortingQuizInteractor.swift
  Stepic/Sources/Modules/Quizzes/NewSortingQuiz/NewSortingQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/NewSortingQuiz/NewSortingQuizViewModel.swift
  Stepic/Sources/Modules/Quizzes/NewSortingQuiz/Views/NewSortingQuizView.swift
  Stepic/Sources/Modules/Quizzes/NewStringQuiz/NewStringQuizDataFlow.swift
  Stepic/Sources/Modules/Quizzes/NewStringQuiz/NewStringQuizInteractor.swift
  Stepic/Sources/Modules/Quizzes/NewStringQuiz/NewStringQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/NewStringQuiz/NewStringQuizView.swift
  Stepic/Sources/Modules/Quizzes/NewStringQuiz/NewStringQuizViewModel.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/Views/TableQuizView.swift
  Stepic/Sources/Modules/Solution/SolutionView.swift
  Stepic/Sources/Modules/Solution/SolutionViewController.swift
  Stepic/Sources/Protocols/TitlePresentable.swift
Labels: main, 🐛 bug

#862 Handle ENOSPC error on downloading
  Stepic/Legacy/Analytics/Events/AnalyticsEvents.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusPresenter.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🐛 bug

#863 Position table quiz modal content relative to the Safe Area
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/TableQuizSelectColumnsViewController.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsView.swift
Labels: main, 🐛 bug

#864 Collect all stories pages
  Stepic/Legacy/Controllers/Stories/Stories/StoriesPresenter.swift
  Stepic/Legacy/Model/Network/Endpoints/StoryTemplatesAPI.swift
  Stepic/Legacy/Model/Network/RequestMakers/RetrieveRequestMaker.swift
Labels: main, 🐛 bug

#865 Fix table quiz pan modal content size not fitting
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/TableQuizSelectColumnsViewController.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsColumnView.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsHeaderView.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsView.swift
  Stepic/Sources/Views/ScrollableStackView.swift
Labels: main, 🐛 bug

#866 Fix infinite progress hud on creating personal deadlines
  Stepic/Legacy/Controllers/PersonalDeadlines/PersonalDeadlinesModeSelectionViewController.swift
  Stepic/Legacy/Controllers/PersonalDeadlines/Service/PersonalDeadlinesTimeService.swift
  Stepic/Legacy/Model/ErrorEnums.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🐛 bug

#867 Fix remove local notifications personal deadlines on delete schedule
  Stepic/Legacy/Controllers/PersonalDeadlines/Service/NotificationService+PersonalDeadline.swift
  Stepic/Legacy/Controllers/PersonalDeadlines/Service/PersonalDeadlinesService.swift
Labels: main, 🐛 bug

#868 Fix local notifications routing
  Stepic/Legacy/Services/Notifications/NotificationsService.swift
Labels: main, 🐛 bug

#869 Fix profile contentInsets
  Stepic/Sources/Modules/NewProfile/NewProfileViewController.swift
Labels: main, 🐛 bug
