Repository StepicOrg/stepik-ios, pull requests merged in 2020-11, with the labels that each got.

#815 Course list filters
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/CourseListFilter/Contents.json
  Stepic/Images.xcassets/CourseListFilter/course-list-filter-slider.imageset/Contents.json
  Stepic/Images.xcassets/CourseListFilter/course-list-filter-slider.imageset/course-list-filter-slider.pdf
  Stepic/Legacy/Controllers/Courses/SearchResults/SearchResultsPresenter.swift
  Stepic/Legacy/Controllers/Courses/SearchResults/SearchResultsViewController.swift
  Stepic/Legacy/Model/Network/CourseListFilterQuery.swift
  Stepic/Legacy/Model/Network/Endpoints/CoursesAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/SearchResultsAPI.swift
  Stepic/Sources/Frameworks/SettingsTable/SettingsTableView.swift
  Stepic/Sources/Frameworks/SettingsTable/SettingsTableViewModel.swift
  Stepic/Sources/Frameworks/SettingsTable/Views/Cell/RightDetailCells/Checkbox/SettingsRightDetailCheckboxCellView.swift
  Stepic/Sources/Frameworks/SettingsTable/Views/Cell/RightDetailCells/Checkbox/SettingsRightDetailCheckboxTableViewCell.swift
  Stepic/Sources/Frameworks/SettingsTable/Views/Cell/RightDetailCells/Switch/SettingsRightDetailSwitchCellView.swift
  Stepic/Sources/Frameworks/SettingsTable/Views/Cell/SettingsTableViewCell.swift
  Stepic/Sources/Modules/BaseExplore/BaseExploreInteractor.swift
  Stepic/Sources/Modules/CourseList/CourseListDataFlow.swift
  Stepic/Sources/Modules/CourseList/CourseListViewController.swift
  Stepic/Sources/Modules/CourseList/InputOutput/CourseListInputProtocol.swift
  Stepic/Sources/Modules/CourseList/InputOutput/CourseListOutputProtocol.swift
  Stepic/Sources/Modules/CourseList/Interactor/CourseListInteractor.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListProvider.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterAssembly.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterDataFlow.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterInteractor.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterPresenter.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterView.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterViewController.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterViewModel.swift
  Stepic/Sources/Modules/CourseListFilter/InputOutput/CourseListFilterOutputProtocol.swift
  Stepic/Sources/Modules/Explore/ExploreDataFlow.swift
  Stepic/Sources/Modules/Explore/ExploreInteractor.swift
  Stepic/Sources/Modules/Explore/ExplorePresenter.swift
  Stepic/Sources/Modules/Explore/ExploreViewController.swift
  Stepic/Sources/Modules/Explore/View/ExploreSearchBar.swift
  Stepic/Sources/Modules/ExploreSubmodules/CourseListsCollection/CourseListsCollectionInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CourseListsCollection/CourseListsCollectionViewController.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListDataFlow.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListInteractor.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListPresenter.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListViewController.swift
  Stepic/Sources/Modules/Home/HomeViewController.swift
  Stepic/Sources/Modules/NewProfile/NewProfileViewController.swift
  Stepic/Sources/Modules/NewProfileSubmodules/CreatedCourses/NewProfileCreatedCoursesInteractor.swift
  Stepic/Sources/Modules/Settings/SettingsViewController.swift
  Stepic/Sources/Views/CourseListFilterBarButtonItem.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#820 Start story progress animation from current position if needed
  Stepic/Legacy/Controllers/Stories/SegmentedProgressView.swift
  Stepic/Legacy/Controllers/Stories/Story/StoryViewController/StoryViewController.swift
Labels: main, 🐛 bug

#821 Update dependencies 1.149
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  fastlane/Fastfile
Labels: dependencies, main

#823 Release 1.149
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Controllers/Stories/SegmentedProgressView.swift
  Stepic/Legacy/Controllers/Stories/Story/StoryViewController/StoryViewController.swift
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main, release

#824 New catalog container view
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/Explore/View/ExploreBlockHeaderView/ExploreBlockHeaderView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockHeaderView/NewExploreBlockHeaderView.swift
  Stepic/Sources/Views/ExploreBlockContainerView/ExploreBlockContainerView.swift
  Stepic/Sources/Views/ExploreBlockContainerView/NewExploreBlockContainerView.swift
Labels: main, 🆕 feature

#825 Embedded mode support for WebView
  Stepic/Legacy/Model/Managers/WebControllerManager.swift
Labels: main, 🆕 feature

#827 Update dependencies 1.151
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabInfo/Views/Blocks/CourseInfoTabInfoHeaderBlockView.swift
  Stepic/Sources/Modules/Settings/SettingsViewController.swift
  fastlane/Fastfile
Labels: dependencies, main

#828 Fix table quiz pan modal presentation on iPad
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Extensions/ThirdParty/PanModal/UIViewController+PresentPadPanModal.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizViewController.swift
Labels: main, 🐛 bug

#829 Add close button in table quiz pad modal
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/TableQuizSelectColumnsViewController.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsHeaderView.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsView.swift
  Stepic/Sources/Views/SystemCloseButton.swift
Labels: main, 🐛 bug

#826 Release 1.150
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Model/Managers/WebControllerManager.swift
  Stepic/Sources/Modules/Quizzes/BaseQuiz/Views/QuizFeedbackView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release

#831 New catalog full course lists
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Model/Network/Endpoints/CourseListsAPI.swift
  Stepic/Legacy/Views/Skeleton/Views/CourseList/CatalogBlocksSkeletonView.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListColorMode.swift
  Stepic/Sources/Modules/Explore/ExploreDataFlow.swift
  Stepic/Sources/Modules/Explore/ExploreInteractor.swift
  Stepic/Sources/Modules/Explore/ExploreViewController.swift
  Stepic/Sources/Modules/Explore/View/CourseListContainerViewFactory.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksDataFlow.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksPresenter.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksProvider.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/InputOutput/CatalogBlocksOutputProtocol.swift
  Stepic/Sources/Services/Models/Persistence/CatalogBlocksPersistenceService.swift
Labels: main, 🆕 feature

#830 Catalog deep link
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Network/ApiDataDownloader.swift
  Stepic/Legacy/Model/Network/Endpoints/CourseListsAPI.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoute.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRouter.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoutingService.swift
  Stepic/Sources/Model/StepikURLFactory.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/ExploreSubmodules/CourseListsCollection/Views/GradientCoursesPlaceholderView.swift
  Stepic/Sources/Services/Models/Network/CourseListsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseListsPersistenceService.swift
  StepicTests/DeepLinkRouteTests.swift
  StepicTests/Model/StepikURLFactoryTests.swift
Labels: main, 🆕 feature

#832 New catalog simple course lists
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Network/Endpoints/CatalogBlocksAPI.swift
  Stepic/Legacy/Views/Skeleton/Views/CourseList/SimpleCourseListCellSkeletonView.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/Explore/ExploreInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksDataFlow.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/InputOutput/CatalogBlocksOutputProtocol.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/InputOutput/SimpleCourseListOutputProtocol.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListDataFlow.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListPresenter.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListProvider.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListViewController.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/SimpleCourseListWidgetViewModel.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Cells/SimpleCourseListDefaultCollectionViewCell.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Cells/SimpleCourseListDefaultWidgetView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListCollectionViewDataSource.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListCollectionViewDelegate.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListHorizontalFlowLayout.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/SimpleCourseListView.swift
  Stepic/Sources/Services/Models/Network/CatalogBlocksNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CatalogBlocksPersistenceService.swift
  Stepic/Sources/Services/Models/Repository/CatalogBlocksRepository.swift
Labels: main, 🆕 feature

#833 Release 1.151
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Model/Network/ApiDataDownloader.swift
  Stepic/Legacy/Model/Network/Endpoints/CourseListsAPI.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoute.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRouter.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoutingService.swift
  Stepic/Sources/Extensions/ThirdParty/PanModal/UIViewController+PresentPadPanModal.swift
  Stepic/Sources/Model/StepikURLFactory.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabInfo/Views/Blocks/CourseInfoTabInfoHeaderBlockView.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/ExploreSubmodules/CourseListsCollection/Views/GradientCoursesPlaceholderView.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/TableQuizSelectColumnsViewController.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsHeaderView.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/Views/TableQuizSelectColumnsView.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizViewController.swift
  Stepic/Sources/Modules/Settings/SettingsViewController.swift
  Stepic/Sources/Services/Models/Network/CourseListsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseListsPersistenceService.swift
  Stepic/Sources/Views/SystemCloseButton.swift
  StepicTests/DeepLinkRouteTests.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicTests/Model/StepikURLFactoryTests.swift
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main, release

#834 Fix HTML tags are visible in course widget summary label
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetView.swift
Labels: main, 🐛 bug

#835 Update dependencies 1.152
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  fastlane/Fastfile
Labels: dependencies, main

#836 Fix profile update remote action
  Stepic/Sources/Modules/ProfileEdit/ProfileEditInteractor.swift
  Stepic/Sources/Modules/ProfileEdit/ProfileEditProvider.swift
  Stepic/Sources/Modules/ProfileEdit/ProfileEditViewController.swift
Labels: main, 🐛 bug

#837 Update adaptive rating URL
  Stepic.xcodeproj/project.pbxproj
  Stepic/Config-Develop.plist
  Stepic/Config-Production.plist
  Stepic/Config-Release.plist
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/BaseCardsStepsViewController.swift
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/CardsStepsPresenter.swift
  Stepic/Legacy/Model/Network/Endpoints/AdaptiveRatingsAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/AdaptiveRatingsRestoreAPI.swift
  Stepic/Sources/Services/Models/Network/AdaptiveRatingsNetworkService.swift
  Stepic/Sources/Services/Models/Network/AdaptiveRatingsRestoreNetworkService.swift
Labels: main, 🆕 feature
