Repository StepicOrg/stepik-ios, pull requests merged in 2021-04, with the labels that each got.

#943 Fix layout not fitting on small screen sizes
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoHeaderView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Cell/CourseInfoTabReviewsCellView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Views/Section/CourseInfoTabSyllabusSectionExamActionButton.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Views/Section/CourseInfoTabSyllabusSectionView.swift
  Stepic/Sources/Modules/NewProfileSubmodules/SocialProfiles/Views/NewProfileSocialProfilesItemView.swift
Labels: main, 🐛 bug

#945 Fix syllabus exam state when closed by dates
  Stepic/Legacy/Model/Entities/Section/Section.swift
  Stepic/Legacy/Model/PlainObjects/SectionPlainObject.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusPresenter.swift
Labels: main, 🐛 bug

#948 Update dependencies 1.169
  Podfile
  Podfile.lock
Labels: dependencies, main

#949 Fix table quiz pan modal safe area updates
  Podfile
  Podfile.lock
Labels: dependencies, main, 🐛 bug

#951 Debug menu
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Controllers/StyledTabBarViewController.swift
  Stepic/Sources/Frameworks/SettingsTable/SettingsTableView.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuAssembly.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuDataFlow.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuInteractor.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuPresenter.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuProvider.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuView.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuViewController.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuViewModel.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
Labels: main, 🆕 feature

#954 FLEX
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Develop.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Production.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Release.xcscheme
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/AppDelegate.swift
  Stepic/Sources/Model/LaunchArguments.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuViewController.swift
  Stepic/Sources/Services/FLEXManager.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
Labels: dependencies, main, 🆕 feature

#935 Uitests/add registration tests
  Podfile.lock
  Stepic.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  StepicUITests/Sources/Common.swift
  StepicUITests/Sources/StepicUITests.swift
Labels: UITests, dependencies

#955 Lesson unreachable unit navigation messages
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Controllers/SectionNavigationDelegate.swift
  Stepic/Legacy/Model/Entities/Section/Section.swift
  Stepic/Legacy/Model/Entities/Unit/Unit.swift
  Stepic/Legacy/Services/NextLessonService.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonAssembly.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonProvider.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Services/UnitNavigationService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Sources/Tests/NextLessonServiceTests.swift
Labels: main, 🆕 feature

#958 Send analytics event on content language change
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContentLanguageSwitch/ContentLanguageSwitchAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContentLanguageSwitch/ContentLanguageSwitchInteractor.swift
  Stepic/Sources/Modules/Settings/SettingsInteractor.swift
Labels: main, 🆕 feature

#959 Send analytics event on buy course click to metrics API
  Stepic/Legacy/Analytics/Events/StepikAnalyticsEvents.swift
  Stepic/Sources/Frameworks/Analytics/Analytics.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
Labels: main, 🆕 feature

#957 Release 1.170
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Develop.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Production.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Release.xcscheme
  Stepic.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/AppDelegate.swift
  Stepic/Legacy/Controllers/SectionNavigationDelegate.swift
  Stepic/Legacy/Model/Entities/Section/Section.swift
  Stepic/Legacy/Model/Entities/Unit/Unit.swift
  Stepic/Legacy/Services/NextLessonService.swift
  Stepic/Sources/Model/LaunchArguments.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/DebugMenu/DebugMenuViewController.swift
  Stepic/Sources/Modules/Lesson/LessonAssembly.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonProvider.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Services/FLEXManager.swift
  Stepic/Sources/Services/UnitNavigationService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicTests/Sources/Tests/NextLessonServiceTests.swift
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicUITests/Sources/Common.swift
  StepicUITests/Sources/StepicUITests.swift
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main, release

#960 Update dependencies 1.171
  Podfile
  Podfile.lock
Labels: dependencies, main

#961 Finished demo module pan modal
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/LessonPanModals/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-demo-lesson-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-demo-lesson-modal-header.imageset/finished-demo-lesson-modal-header.pdf
  Stepic/Legacy/Services/DeepLinks/StepsControllerDeepLinkRouter.swift
  Stepic/Legacy/TransitionRouters/LastStepRouter.swift
  Stepic/Sources/Common/LayoutInsets.swift
  Stepic/Sources/Controllers/PanModalPresentableViewController.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Modules/CourseInfo/InputOutput/CourseInfoInputProtocol.swift
  Stepic/Sources/Modules/Lesson/InputOutput/LessonOutputProtocol.swift
  Stepic/Sources/Modules/Lesson/LessonAssembly.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonProvider.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/InputOutput/LessonFinishedDemoPanModalOutputProtocol.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalProvider.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewController.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/TableQuizSelectColumnsViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature
