Repository StepicOrg/stepik-ios, pull requests merged in 2021-05, with the labels that each got.

#965 Debug menu test deep links
  Stepic/Sources/Modules/DebugMenu/DebugMenuViewController.swift
Labels: main, 🆕 feature

#962 Release 1.171
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/LessonPanModals/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-demo-lesson-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-demo-lesson-modal-header.imageset/finished-demo-lesson-modal-header.pdf
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Analytics/Events/StepikAnalyticsEvents.swift
  Stepic/Legacy/Services/DeepLinks/StepsControllerDeepLinkRouter.swift
  Stepic/Legacy/TransitionRouters/LastStepRouter.swift
  Stepic/Sources/Common/LayoutInsets.swift
  Stepic/Sources/Controllers/PanModalPresentableViewController.swift
  Stepic/Sources/Frameworks/Analytics/Analytics.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Modules/CourseInfo/InputOutput/CourseInfoInputProtocol.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContentLanguageSwitch/ContentLanguageSwitchAssembly.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContentLanguageSwitch/ContentLanguageSwitchInteractor.swift
  Stepic/Sources/Modules/Lesson/InputOutput/LessonOutputProtocol.swift
  Stepic/Sources/Modules/Lesson/LessonAssembly.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonProvider.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/InputOutput/LessonFinishedDemoPanModalOutputProtocol.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalProvider.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewController.swift
  Stepic/Sources/Modules/Quizzes/TableQuiz/TableQuizSelectColumns/TableQuizSelectColumnsViewController.swift
  Stepic/Sources/Modules/Settings/SettingsInteractor.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: dependencies, main, release

#967 Release 1.172
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Modules/DebugMenu/DebugMenuViewController.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/NewProfile/NewProfileInteractor.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: dependencies, main, release

#968 Finished steps modal
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/LessonPanModals/finished-steps-button-certificate.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-button-certificate.imageset/finished-steps-button-certificate.pdf
  Stepic/Images.xcassets/LessonPanModals/finished-steps-button-share.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-button-share.imageset/finished-steps-button-share.pdf
  Stepic/Images.xcassets/LessonPanModals/finished-steps-distinction-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-distinction-modal-header.imageset/finished-steps-distinction-modal-header.pdf
  Stepic/Images.xcassets/LessonPanModals/finished-steps-happy-neutral-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-happy-neutral-modal-header.imageset/finished-steps-happy-neutral-modal-header.pdf
  Stepic/Images.xcassets/LessonPanModals/finished-steps-neutral-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-neutral-modal-header.imageset/finished-steps-neutral-modal-header.pdf
  Stepic/Images.xcassets/LessonPanModals/finished-steps-regular-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-regular-modal-header.imageset/finished-steps-regular-modal-header.pdf
  Stepic/Images.xcassets/LessonPanModals/finished-steps-success-modal-header.imageset/Contents.json
  Stepic/Images.xcassets/LessonPanModals/finished-steps-success-modal-header.imageset/finished-steps-success-modal-header.pdf
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Course/Course.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_lesson_finished_steps_v77.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/CertificatesAPI.swift
  Stepic/Legacy/TransitionRouters/LastStepRouter.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/InputOutput/CourseInfoTabReviewsInputProtocol.swift
  Stepic/Sources/Modules/Lesson/InputOutput/LessonOutputProtocol.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/InputOutput/LessonFinishedStepsPanModalOutputProtocol.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalProvider.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalViewModel.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/Views/LessonFinishedStepsPanModalFeedbackView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/Views/LessonFinishedStepsPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/Views/LessonPanModalActionButton.swift
  Stepic/Sources/Services/Models/Network/CertificatesNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CertificatesPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#970 Course default promo code
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Course/Course.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_default_promo_code_v78.xcdatamodel/contents
  Stepic/Sources/Extensions/ThirdParty/SwiftyJSON/SwiftyJSON+DecimalNumber.swift
  Stepic/Sources/Model/PromoCode.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  StepicTests/Data/Courses/course-default-promo-code.json
  StepicTests/Data/Courses/course-without-default-promo-code.json
  StepicTests/Sources/TestData.swift
  StepicTests/Sources/Tests/Model/CourseTests.swift
Labels: main, 🆕 feature

#972 Update dependencies 1.173
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/AppDelegate.swift
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  Stepic/Sources/Frameworks/Notifications/Registration/NotificationsRegistrationService.swift
Labels: dependencies, main

#973 Fix video player no sound after comes from background at double fast rate
  Stepic/Legacy/Controllers/VideoPlayer/StepikVideoPlayerViewController/StepikVideoPlayerViewController.swift
Labels: main, 🐛 bug

#974 Quiz submit button with outline style when can retry last step
  Stepic/Sources/Modules/Quizzes/BaseQuiz/BaseQuizView.swift
  Stepic/Sources/Views/NextStepButton.swift
Labels: main, 🆕 feature

#977 New preview_lesson API
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Course/Course.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_preview_unit_v79.xcdatamodel/contents
Labels: main, 🆕 feature

#978 Fix back button menus with empty titles
  Stepic/Sources/Controllers/StyledNavigationController.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/CodeQuizFullscreenViewController.swift
  Stepic/Sources/Modules/Settings/SettingsViewController.swift
Labels: main, 🐛 bug

#980 Release 1.174
  Gemfile
  Gemfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Course/Course.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_preview_unit_v79.xcdatamodel/contents
  Stepic/Sources/Controllers/StyledNavigationController.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/CodeQuizFullscreenViewController.swift
  Stepic/Sources/Modules/Settings/SettingsViewController.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: dependencies, main, release
