Repository StepicOrg/stepik-ios, pull requests merged in 2021-02, with the labels that each got.

#885 Fix syllabus always displays units placeholders on continue learning
  Stepic/Legacy/TransitionRouters/LastStepRouter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
Labels: main, 🐛 bug

#886 Course price promo
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Analytics/SplitTests/ActiveTests/ActiveSplitTestsContainer.swift
  Stepic/Legacy/Analytics/SplitTests/ActiveTests/DiscountAppearanceSplitTest.swift
  Stepic/Legacy/Analytics/SplitTests/SplitTestGroupProtocol.swift
  Stepic/Legacy/Analytics/SplitTests/SplitTestProtocol.swift
  Stepic/Legacy/Analytics/SplitTests/SplitTestingService.swift
  Stepic/Legacy/Model/Network/Endpoints/PromoCodesAPI.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoute.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoutingService.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Model/CurrencySymbolMap.swift
  Stepic/Sources/Model/PromoCode.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoHeaderViewModel.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoProvider.swift
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoHeaderView.swift
  Stepic/Sources/Modules/CourseInfo/Views/PromoPriceButton/PromoPriceButton.swift
  Stepic/Sources/Modules/CourseInfo/Views/PromoPriceButton/TransparentPromoPriceButton.swift
  Stepic/Sources/Services/Models/Network/PromoCodesNetworkService.swift
  StepicTests/Sources/Tests/DeepLinkRouteTests.swift
Labels: a/b, main, 🆕 feature

#887 Fix HTML content detection
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingInjection.swift
Labels: main, 🐛 bug

#889 Update dependencies 1.160
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Analytics/AnalyticsUserProperties.swift
  Stepic/Legacy/Controllers/Alerts/NotificationRequest/NotificationRequestAlertViewController.swift
  Stepic/Legacy/Controllers/Onboarding/OnboardingAnimatedView.swift
  Stepic/Legacy/Helpers/AnalyticsHelper.swift
  Stepic/Legacy/Helpers/HTMLParsingUtil.swift
  Stepic/Sources/Frameworks/Analytics/AnalyticsEngine.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/HTMLExtractor.swift
  Stepic/Sources/Modules/Discussions/DiscussionsPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
Labels: dependencies, main

#890 Not display success user code run status
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodePresenter.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodeView.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodeViewModel.swift
Labels: main, 🆕 feature

#891 Fix LatexView clickable images script
  Stepic/Legacy/Model/Constants/Scripts/Scripts.plist
Labels: main, 🐛 bug

#892 Fix course title not fit in the card on small screen
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListView.swift
Labels: main, 🐛 bug

#893 Layout for see all cell in course list
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/arrow.right.imageset/Contents.json
  Stepic/Images.xcassets/arrow.right.imageset/arrow.right.png
  Stepic/Images.xcassets/arrow.right.imageset/arrow.right@2x.png
  Stepic/Images.xcassets/arrow.right.imageset/arrow.right@3x.png
  Stepic/Sources/Common/LayoutInsets.swift
  Stepic/Sources/Modules/CourseList/Views/SeeAllCourseListCollectionViewCell.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/SeeAllCourseWidgetView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/Cell/GridSimpleCourseListWidgetView.swift
  Stepic/Theme/ColorPalette.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#894 Hotfix 1.159
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
Labels: main, release, 🐛 bug

#896 Release 1.160
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Production.xcscheme
  Stepic/Images.xcassets/arrow.right.imageset/Contents.json
  Stepic/Images.xcassets/arrow.right.imageset/arrow.right.png
  Stepic/Images.xcassets/arrow.right.imageset/arrow.right@2x.png
  Stepic/Images.xcassets/arrow.right.imageset/arrow.right@3x.png
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/AnalyticsUserProperties.swift
  Stepic/Legacy/Controllers/Alerts/NotificationRequest/NotificationRequestAlertViewController.swift
  Stepic/Legacy/Controllers/Courses/SearchQueries/SearchQueriesView/SearchQueriesViewController.swift
  Stepic/Legacy/Controllers/Onboarding/OnboardingAnimatedView.swift
  Stepic/Legacy/Helpers/AnalyticsHelper.swift
  Stepic/Legacy/Helpers/HTMLParsingUtil.swift
  Stepic/Legacy/Model/Constants/Scripts/Scripts.plist
  Stepic/Legacy/Model/Entities/Course/Course.swift
  Stepic/Sources/Common/LayoutInsets.swift
  Stepic/Sources/Extensions/SwiftStdlib/String+Whitespaces.swift
  Stepic/Sources/Frameworks/Analytics/AnalyticsEngine.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/HTMLExtractor.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListPersistenceService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListProvider.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListView.swift
  Stepic/Sources/Modules/CourseList/Views/SeeAllCourseListCollectionViewCell.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/SeeAllCourseWidgetView.swift
  Stepic/Sources/Modules/Discussions/DiscussionsPresenter.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Default/DefaultSimpleCourseListView.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/Cell/GridSimpleCourseListWidgetView.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodePresenter.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodeView.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodeViewModel.swift
  Stepic/Sources/Services/UnitNavigationService.swift
  Stepic/Sources/Services/Widget/Content/WidgetContentIndexingService.swift
  Stepic/Theme/ColorPalette.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: dependencies, main, release

#897 Hide empty feedback for choice quiz
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/NewChoiceQuizPresenter.swift
Labels: main, 🐛 bug

#898 Use monospace font for feedbacks
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingInjection.swift
  Stepic/Sources/Modules/Quizzes/BaseQuiz/BaseQuizPresenter.swift
  Stepic/Sources/Modules/Quizzes/CodeQuizFullscreen/Tabs/CodeQuizFullscreenRunCode/CodeQuizFullscreenRunCodeView.swift
  Stepic/Sources/Modules/Quizzes/NewChoiceQuiz/Views/ChoiceElementView.swift
  Stepic/Sources/Modules/Quizzes/NewMatchingQuiz/Views/NewMatchingQuizTitleView.swift
  Stepic/Sources/Modules/Quizzes/NewSortingQuiz/Views/NewSortingQuizElementView.swift
  Stepic/Theme/Typography.swift
  Stepic/stepikcontent.css
Labels: main, 🆕 feature

#899 Update steps CSS
  Stepic/stepikcontent.css
  Stepic/wysiwyg.css
Labels: main, 🆕 feature

#900 Optimize syllabus download state
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/AttemptsSumbissions/Attempt.swift
  Stepic/Legacy/Model/AttemptsSumbissions/Submission.swift
  Stepic/Legacy/Model/Entities/Block/Block.swift
  Stepic/Legacy/Model/Entities/Lesson/Lesson+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Unit/Unit+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Unit/Unit.swift
  Stepic/Legacy/Model/PlainObjects/AssignmentPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/Block/BlockPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/Block/BlockType.swift
  Stepic/Legacy/Model/PlainObjects/CoursePlainObject.swift
  Stepic/Legacy/Model/PlainObjects/LessonPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/ProgressPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/SectionPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/UnitPlainObject.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/HTMLExtractor.swift
  Stepic/Sources/Frameworks/Downloader/DownloadingService/DownloadingService.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Provider/SyllabusDownloadsService.swift
  Stepic/Sources/Services/AppData/StorageUsageService.swift
  StepicTests/Sources/Tests/Model/BlockTypeSpec.swift
  StepicTests/Sources/Tests/Model/SubmissionTests.swift
Labels: main, 🆕 feature

#901 Course purchase remind notifications
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/AppDelegate.swift
  Stepic/Legacy/Model/Notifications/PurchaseCourseLocalNotificationProvider.swift
  Stepic/Legacy/Model/PlainObjects/CoursePlainObject.swift
  Stepic/Legacy/Services/Notifications/LocalNotifications/LocalNotificationsService.swift
  Stepic/Legacy/Services/Notifications/NotificationsService.swift
  Stepic/Sources/Extensions/UserNotifications/UNNotificationTrigger+nextTriggerDate.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Services/CoursePurchaseReminder.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#903 Update dependencies 1.162
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  fastlane/Fastfile
Labels: dependencies, main

#904 Update submission cell appearance
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/Submissions/SubmissionsDataFlow.swift
  Stepic/Sources/Modules/Submissions/SubmissionsPresenter.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewController.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewModel.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsCellView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsTableViewCell.swift
  Stepic/Sources/Modules/Submissions/Views/SubmissionsTableViewDataSource.swift
  Stepic/Theme/Typography.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#905 Submissions for teacher
  Gemfile
  Gemfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Network/Endpoints/SubmissionsAPI.swift
  Stepic/Legacy/Model/Network/SubmissionsFilterQuery.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterViewController.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/Submissions/SubmissionsAssembly.swift
  Stepic/Sources/Modules/Submissions/SubmissionsDataFlow.swift
  Stepic/Sources/Modules/Submissions/SubmissionsInteractor.swift
  Stepic/Sources/Modules/Submissions/SubmissionsPresenter.swift
  Stepic/Sources/Modules/Submissions/SubmissionsProvider.swift
  Stepic/Sources/Modules/Submissions/SubmissionsView.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewController.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewModel.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsCellView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsTableViewCell.swift
  Stepic/Sources/Modules/Submissions/Views/SubmissionsSearchBar.swift
  Stepic/Sources/Modules/Submissions/Views/SubmissionsTableViewDataSource.swift
  Stepic/Sources/Modules/SubmissionsFilter/InputOutput/SubmissionsFilterOutputProtocol.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterAssembly.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterDataFlow.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterInteractor.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterPresenter.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterView.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterViewController.swift
  Stepic/Sources/Modules/WriteComment/WriteCommentViewController.swift
  Stepic/Sources/Services/Models/Network/SubmissionsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/StepsPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: dependencies, main, 🆕 feature

#906 Release 1.162
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Model/Network/Endpoints/AttemptsAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/SubmissionsAPI.swift
  Stepic/Legacy/Model/Network/RequestMakers/RetrieveRequestMaker.swift
  Stepic/Legacy/Model/Network/SubmissionsFilterQuery.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseListFilter/CourseListFilterViewController.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/Submissions/SubmissionsAssembly.swift
  Stepic/Sources/Modules/Submissions/SubmissionsDataFlow.swift
  Stepic/Sources/Modules/Submissions/SubmissionsInteractor.swift
  Stepic/Sources/Modules/Submissions/SubmissionsPresenter.swift
  Stepic/Sources/Modules/Submissions/SubmissionsProvider.swift
  Stepic/Sources/Modules/Submissions/SubmissionsView.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewController.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewModel.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsCellView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsTableViewCell.swift
  Stepic/Sources/Modules/Submissions/Views/SubmissionsSearchBar.swift
  Stepic/Sources/Modules/Submissions/Views/SubmissionsTableViewDataSource.swift
  Stepic/Sources/Modules/SubmissionsFilter/InputOutput/SubmissionsFilterOutputProtocol.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterAssembly.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterDataFlow.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterInteractor.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterPresenter.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterView.swift
  Stepic/Sources/Modules/SubmissionsFilter/SubmissionsFilterViewController.swift
  Stepic/Sources/Modules/WriteComment/WriteCommentViewController.swift
  Stepic/Sources/Protocols/IDTypeable.swift
  Stepic/Sources/Services/Models/Network/AttemptsNetworkService.swift
  Stepic/Sources/Services/Models/Network/SubmissionsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/StepsPersistenceService.swift
  Stepic/Sources/Services/Models/Repository/AttemptsRepository.swift
  Stepic/Theme/Typography.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: dependencies, main, release

#907 Present student submissions from comments for teacher
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/BaseCardsStepsViewController.swift
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/CardsStepsPresenter.swift
  Stepic/Legacy/Controllers/AdaptiveSteps/CardsSteps/CardsStepsViewController.swift
  Stepic/Legacy/Model/Network/SubmissionsFilterQuery.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRouter.swift
  Stepic/Sources/Modules/Discussions/DiscussionsAssembly.swift
  Stepic/Sources/Modules/Discussions/DiscussionsDataFlow.swift
  Stepic/Sources/Modules/Discussions/DiscussionsInteractor.swift
  Stepic/Sources/Modules/Discussions/DiscussionsPresenter.swift
  Stepic/Sources/Modules/Discussions/DiscussionsViewController.swift
  Stepic/Sources/Modules/Discussions/Views/DiscussionsView.swift
  Stepic/Sources/Modules/Step/StepAssembly.swift
  Stepic/Sources/Modules/Step/StepDataFlow.swift
  Stepic/Sources/Modules/Step/StepInteractor.swift
  Stepic/Sources/Modules/Step/StepPresenter.swift
  Stepic/Sources/Modules/Step/StepProvider.swift
  Stepic/Sources/Modules/Step/StepViewController.swift
  Stepic/Sources/Modules/Submissions/SubmissionsDataFlow.swift
  Stepic/Sources/Modules/Submissions/SubmissionsInteractor.swift
  Stepic/Sources/Modules/Submissions/SubmissionsPresenter.swift
  Stepic/Sources/Modules/Submissions/SubmissionsViewController.swift
  Stepic/Sources/Services/Models/Network/LessonsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/LessonsPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#908 Fix lesson deep-link navigation in lesson module
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Lesson/Lesson+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Lesson/Lesson.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_lesson_courses_units_array_v71.xcdatamodel/contents
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoutingService.swift
  Stepic/Sources/Modules/Lesson/LessonAssembly.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonPresenter.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/Step/InputOutput/StepOutputProtocol.swift
  Stepic/Sources/Modules/Step/StepDataFlow.swift
  Stepic/Sources/Modules/Step/StepInteractor.swift
  Stepic/Sources/Modules/Step/StepPresenter.swift
  Stepic/Sources/Modules/Step/StepViewController.swift
  StepicTests/Sources/Tests/ModulesTests/NewStepViewControllerTests.swift
Labels: main, 🐛 bug

#910 Update discussions appearance
  Stepic/Sources/Extensions/UIKit/UIColor+Hex.swift
  Stepic/Sources/Modules/Discussions/DiscussionsPresenter.swift
  Stepic/Sources/Modules/Discussions/DiscussionsViewController.swift
  Stepic/Sources/Modules/Discussions/Views/Cells/Discussion/DiscussionsBadgesView.swift
  Stepic/Sources/Modules/Discussions/Views/Cells/Discussion/DiscussionsBottomControlsView.swift
  Stepic/Sources/Modules/Discussions/Views/Cells/Discussion/DiscussionsCellView.swift
  Stepic/Sources/Modules/Discussions/Views/Cells/Discussion/DiscussionsTableViewCell.swift
  Stepic/Sources/Modules/Discussions/Views/Cells/Discussion/DiscussionsVotesView.swift
  Stepic/Sources/Modules/Discussions/Views/TableViewDataSource/DiscussionsTableViewDataSource.swift
  Stepic/Sources/Modules/Discussions/Views/TableViewDataSource/DiscussionsTableViewDataSourceDelegate.swift
Labels: main, 🆕 feature
