Repository StepicOrg/stepik-ios, pull requests merged in 2021-07, with the labels that each got.

#1004 User courses tab downloaded
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Sources/Modules/CourseList/Interactor/CourseListDataBackUpdateService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListPersistenceService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/Downloads/DownloadsProvider.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCourses/UserCoursesAssembly.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCourses/UserCoursesDataFlow.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCourses/UserCoursesViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1005 Course info review summary
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/CourseReviewSummary/CourseReviewSummary.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewModel.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/CourseInfoTabReviewsView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/CourseInfoTabReviewsHeaderView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/CourseInfoTabReviewsReviewButton.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/CourseInfoTabReviewsSummaryDistributionProgressesView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/CourseInfoTabReviewsSummaryRatingView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/CourseInfoTabReviewsSummaryView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/DistributionCounts/CourseInfoTabReviewsSummaryDistributionCountItemView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/DistributionCounts/CourseInfoTabReviewsSummaryDistributionCountsView.swift
  Stepic/Sources/Views/CourseRatingView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1006 Release 1.180
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Model/Entities/CourseReviewSummary/CourseReviewSummary.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewModel.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Cell/CourseInfoTabReviewsCellView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/CourseInfoTabReviewsView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/CourseInfoTabReviewsHeaderView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/CourseInfoTabReviewsReviewButton.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/CourseInfoTabReviewsSummaryDistributionProgressesView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/CourseInfoTabReviewsSummaryRatingView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/CourseInfoTabReviewsSummaryView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/DistributionCounts/CourseInfoTabReviewsSummaryDistributionCountItemView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/Views/Header/Summary/DistributionCounts/CourseInfoTabReviewsSummaryDistributionCountsView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/CourseList/Interactor/CourseListDataBackUpdateService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListPersistenceService.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/Downloads/DownloadsProvider.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCourses/UserCoursesAssembly.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCourses/UserCoursesDataFlow.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCourses/UserCoursesViewController.swift
  Stepic/Sources/Modules/Settings/SettingsAssembly.swift
  Stepic/Sources/Modules/Settings/SettingsInteractor.swift
  Stepic/Sources/Services/DataBackUpdateService.swift
  Stepic/Sources/Views/CourseRatingView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release

#1007 Always display filter button in explore search bar
  Stepic/Sources/Modules/Explore/ExploreDataFlow.swift
  Stepic/Sources/Modules/Explore/ExploreInteractor.swift
  Stepic/Sources/Modules/Explore/ExplorePresenter.swift
  Stepic/Sources/Modules/Explore/ExploreViewController.swift
Labels: main, 🆕 feature

#1008 Fix course revenue header invalid content offset on expand content
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/Views/CourseRevenueTabPurchasesView.swift
Labels: main, 🐛 bug

#1012 Fix course revenue beneficiary percent
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBeneficiary/CourseBeneficiary+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBeneficiary/CourseBeneficiary.swift
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit.swift
  Stepic/Legacy/Model/Entities/User/User+CoreDataProperties.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_beneficiaries_v85.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/CourseBeneficiariesAPI.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenueAssembly.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenueInteractor.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenueProvider.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailPresenter.swift
  Stepic/Sources/Services/AppData/LogoutDataClearService.swift
  Stepic/Sources/Services/Models/Network/CourseBeneficiariesNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseBeneficiariesPersistenceService.swift
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🐛 bug

#1014 Release 1.182
  Stepic.xcodeproj/project.pbxproj
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Develop.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Production.xcscheme
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Release.xcscheme
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Controllers/Onboarding/OnboardingViewController.swift
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBeneficiary/CourseBeneficiary+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBeneficiary/CourseBeneficiary.swift
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit.swift
  Stepic/Legacy/Model/Entities/User/User+CoreDataProperties.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_beneficiaries_v85.xcdatamodel/contents
  Stepic/Legacy/Model/Network/ApiRequest.swift
  Stepic/Legacy/Model/Network/Endpoints/APIEndpoint.swift
  Stepic/Legacy/Model/Network/Endpoints/CourseBeneficiariesAPI.swift
  Stepic/Legacy/Views/Skeleton/Skeletonable+UICollectionView.swift
  Stepic/Legacy/Views/Skeleton/Skeletonable+UITableView.swift
  Stepic/Legacy/Views/Skeleton/Skeletonable.swift
  Stepic/Sources/Model/LaunchArguments.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Views/CourseInfoTabSyllabusView.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenueAssembly.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenueInteractor.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenueProvider.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailPresenter.swift
  Stepic/Sources/Modules/NewProfile/NewProfileViewController.swift
  Stepic/Sources/Modules/NewProfile/Views/NewProfileView.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsViewController.swift
  Stepic/Sources/Services/AppData/LogoutDataClearService.swift
  Stepic/Sources/Services/Models/Network/CourseBeneficiariesNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseBeneficiariesPersistenceService.swift
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release

#1015 Fix streak notifications manager not checking notification permission status
  Stepic/Legacy/Controllers/RegistrationSignIn/AuthNavigationViewController.swift
  Stepic/Legacy/Model/Managers/StreaksAlertPresentationManager.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsInteractor.swift
  Stepic/Sources/Modules/Quizzes/BaseQuiz/BaseQuizViewController.swift
Labels: main, 🐛 bug

#1017 Peer review container UI
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Views/Skeleton/Views/StepQuizReviewSkeletonView.swift
  Stepic/Sources/Extensions/CoreGraphics/CGSizeExtensions.swift
  Stepic/Sources/Modules/StepQuizReview/InputOutput/StepQuizReviewInputProtocol.swift
  Stepic/Sources/Modules/StepQuizReview/InputOutput/StepQuizReviewOutputProtocol.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewAssembly.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewDataFlow.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewInteractor.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewPresenter.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewProvider.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewView.swift
  Stepic/Sources/Modules/StepQuizReview/StepQuizReviewViewController.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StatusView/StepQuizReviewStatusCircleView.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StatusView/StepQuizReviewStatusView.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StepQuizReviewMessageView.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StepQuizReviewStatusContainerView.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StepQuizReviewStatusesView.swift
  Stepic/Theme/ColorPalette.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Sources/Tests/ExtensionsTests/CGSizeExtensionsTests.swift
Labels: main, 🆕 feature
