Repository StepicOrg/stepik-ios, pull requests merged in 2021-06, with the labels that each got.

#982 User courses reviews
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/New course list/Contents.json
  Stepic/Images.xcassets/New course list/user-courses-reviews-block-stars.imageset/Contents.json
  Stepic/Images.xcassets/New course list/user-courses-reviews-block-stars.imageset/user-courses-reviews-block-stars.pdf
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/Placeholders/StepikPlaceholderStyle+Placeholders.swift
  Stepic/Legacy/Model/Entities/CourseReview/CourseReview.swift
  Stepic/Legacy/Model/Network/Endpoints/CourseReviewsAPI.swift
  Stepic/Legacy/Model/Network/RequestMakers/RetrieveRequestMaker.swift
  Stepic/Legacy/Model/PlainObjects/CoursePlainObject.swift
  Stepic/Legacy/Model/PlainObjects/CourseReviewPlainObject.swift
  Stepic/Legacy/Views/Skeleton/Views/CourseList/UserCoursesReviewsBlockSkeletonView.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsProvider.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsViewController.swift
  Stepic/Sources/Modules/Home/HomeDataFlow.swift
  Stepic/Sources/Modules/Home/HomeViewController.swift
  Stepic/Sources/Modules/HomeSubmodules/ReviewsAndWishlistContainerViewController.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/InputOutput/UserCoursesReviewsBlockInputProtocol.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockAssembly.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockDataFlow.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockInteractor.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockPresenter.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockProvider.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockView.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockViewController.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsBlock/UserCoursesReviewsBlockViewModel.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalProvider.swift
  Stepic/Sources/Modules/UserCoursesReviews/InputOutput/UserCoursesReviewsOutputProtocol.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsAssembly.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsDataFlow.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsInteractor.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsPresenter.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsProvider.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsViewController.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsViewModel.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Cell/Leaved/UserCoursesReviewsLeavedReviewCellView.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Cell/Leaved/UserCoursesReviewsLeavedReviewTableViewCell.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Cell/Possible/UserCoursesReviewsPossibleReviewCellView.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Cell/Possible/UserCoursesReviewsPossibleReviewTableViewCell.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Section/UserCoursesReviewsTableSectionView.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/UserCoursesReviewsTableViewDataSource.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/UserCoursesReviewsView.swift
  Stepic/Sources/Modules/WriteCourseReview/WriteCourseReviewAssembly.swift
  Stepic/Sources/Modules/WriteCourseReview/WriteCourseReviewDataFlow.swift
  Stepic/Sources/Modules/WriteCourseReview/WriteCourseReviewInteractor.swift
  Stepic/Sources/Services/Models/Network/CourseReviewsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseReviewsPersistenceService.swift
  Stepic/Sources/Services/Models/Persistence/CoursesPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#984 User course action analytics event
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
Labels: main, 🆕 feature

#985 Update continue course pressed analytics event
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/TransitionRouters/LastStepRouter.swift
  Stepic/Sources/Modules/BaseExplore/BaseExploreDataFlow.swift
  Stepic/Sources/Modules/BaseExplore/BaseExploreInteractor.swift
  Stepic/Sources/Modules/BaseExplore/BaseExplorePresenter.swift
  Stepic/Sources/Modules/BaseExplore/BaseExploreViewController.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Modules/CourseList/InputOutput/CourseListOutputProtocol.swift
  Stepic/Sources/Modules/CourseList/Interactor/CourseListInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocks/CatalogBlocksInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContinueCourse/ContinueCourseInteractor.swift
  Stepic/Sources/Modules/ExploreSubmodules/ContinueCourse/ContinueCourseOutputProtocol.swift
  Stepic/Sources/Modules/ExploreSubmodules/CourseListsCollection/CourseListsCollectionInteractor.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListDataFlow.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListInteractor.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListPresenter.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListViewController.swift
  Stepic/Sources/Modules/NewProfileSubmodules/CreatedCourses/NewProfileCreatedCoursesDataFlow.swift
  Stepic/Sources/Modules/NewProfileSubmodules/CreatedCourses/NewProfileCreatedCoursesInteractor.swift
  Stepic/Sources/Modules/NewProfileSubmodules/CreatedCourses/NewProfileCreatedCoursesPresenter.swift
  Stepic/Sources/Modules/NewProfileSubmodules/CreatedCourses/NewProfileCreatedCoursesViewController.swift
  Stepic/Sources/Services/ApplicationShortcutService.swift
  Stepic/Sources/Services/Widget/WidgetRoutingService.swift
Labels: main, 🆕 feature

#990 User courses reviews analytics
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsInteractor.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsAssembly.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsInteractor.swift
Labels: main, 🆕 feature

#991 Video player play next or previous step
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/video player/backward.fill.imageset/Contents.json
  Stepic/Images.xcassets/video player/backward.fill.imageset/rewind.png
  Stepic/Images.xcassets/video player/backward.fill.imageset/rewind@2x.png
  Stepic/Images.xcassets/video player/backward.fill.imageset/rewind@3x.png
  Stepic/Images.xcassets/video player/forward.fill.imageset/Contents.json
  Stepic/Images.xcassets/video player/forward.fill.imageset/fast-forward.png
  Stepic/Images.xcassets/video player/forward.fill.imageset/fast-forward@2x.png
  Stepic/Images.xcassets/video player/forward.fill.imageset/fast-forward@3x.png
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/VideoPlayer/StepikVideoPlayerViewController/StepikVideoPlayerViewController.swift
  Stepic/Legacy/Controllers/VideoPlayer/StepikVideoPlayerViewController/StepikVideoPlayerViewController.xib
  Stepic/Sources/Model/AutoplayNavigationDirection.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Step/InputOutput/StepOutputProtocol.swift
  Stepic/Sources/Modules/Step/StepDataFlow.swift
  Stepic/Sources/Modules/Step/StepInteractor.swift
  Stepic/Sources/Modules/Step/StepViewController.swift
Labels: main, 🆕 feature

#992 Update dependencies 1.177
  Podfile
  Podfile.lock
Labels: dependencies, main

#995 Finished steps analytics
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Model/Entities/Progress/Progress.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalViewController.swift
Labels: main, 🆕 feature

#996 Delete account
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Model/Managers/WebControllerManager.swift
  Stepic/Sources/Model/StepikURLFactory.swift
  Stepic/Sources/Modules/Settings/SettingsAssembly.swift
  Stepic/Sources/Modules/Settings/SettingsDataFlow.swift
  Stepic/Sources/Modules/Settings/SettingsInteractor.swift
  Stepic/Sources/Modules/Settings/SettingsPresenter.swift
  Stepic/Sources/Modules/Settings/SettingsProvider.swift
  Stepic/Sources/Modules/Settings/SettingsViewController.swift
  Stepic/Sources/Services/Models/Network/StepicsNetworkService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Sources/Tests/Model/StepikURLFactoryTests.swift
Labels: main, 🆕 feature

#994 Release 1.177
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/video player/backward.fill.imageset/Contents.json
  Stepic/Images.xcassets/video player/backward.fill.imageset/rewind.png
  Stepic/Images.xcassets/video player/backward.fill.imageset/rewind@2x.png
  Stepic/Images.xcassets/video player/backward.fill.imageset/rewind@3x.png
  Stepic/Images.xcassets/video player/forward.fill.imageset/Contents.json
  Stepic/Images.xcassets/video player/forward.fill.imageset/fast-forward.png
  Stepic/Images.xcassets/video player/forward.fill.imageset/fast-forward@2x.png
  Stepic/Images.xcassets/video player/forward.fill.imageset/fast-forward@3x.png
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/VideoPlayer/StepikVideoPlayerViewController/StepikVideoPlayerViewController.swift
  Stepic/Legacy/Controllers/VideoPlayer/StepikVideoPlayerViewController/StepikVideoPlayerViewController.xib
  Stepic/Sources/Model/AutoplayNavigationDirection.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabReviews/CourseInfoTabReviewsInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Step/InputOutput/StepOutputProtocol.swift
  Stepic/Sources/Modules/Step/StepDataFlow.swift
  Stepic/Sources/Modules/Step/StepInteractor.swift
  Stepic/Sources/Modules/Step/StepViewController.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsAssembly.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsInteractor.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: dependencies, main, release

#997 Display course prices in course lists
  .swiftlint.yml
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_iap_price_v81.xcdatamodel/contents
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPService.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Model/PromoCode.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseList/CourseListAssembly.swift
  Stepic/Sources/Modules/CourseList/CourseListDataFlow.swift
  Stepic/Sources/Modules/CourseList/CourseListPresenter.swift
  Stepic/Sources/Modules/CourseList/CourseWidgetViewModel.swift
  Stepic/Sources/Modules/CourseList/Interactor/CourseListInteractor.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListProvider.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListCardStyle.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetPriceView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/SmallCourseWidgetView.swift
  Stepic/Sources/Services/WishlistService.swift
  Stepic/Theme/ColorPalette.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1001 Add course benefit by month API
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBenefitByMonth/CourseBenefitByMonth+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBenefitByMonth/CourseBenefitByMonth.swift
  Stepic/Legacy/Model/Entities/User/User+CoreDataProperties.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_benefit_by_month_v83.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/CourseBenefitByMonthsAPI.swift
  Stepic/Sources/Services/AppData/LogoutDataClearService.swift
  Stepic/Sources/Services/Models/Network/CourseBenefitByMonthsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CourseBenefitByMonthsPersistenceService.swift
  Stepic/Sources/Services/Models/Persistence/CourseBenefitSummariesPersistenceService.swift
  Stepic/Sources/Services/Models/Persistence/CourseBenefitsPersistenceService.swift
Labels: main, 🆕 feature
