Repository StepicOrg/stepik-ios, pull requests merged in 2021-09, with the labels that each got.

#1035 Release 1.188
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
Labels: main, release, dependencies

#1034 Course search logic
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/SearchQueryResult/SearchQueryResult+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/SearchQueryResult/SearchQueryResult.swift
  Stepic/Legacy/Model/Entities/SearchResult/SearchResult+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/SearchResult/SearchResult.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_search_results_v87.xcdatamodel/contents
  Stepic/Legacy/Model/Network/ApiDataDownloader.swift
  Stepic/Legacy/Model/Network/Endpoints/SearchResultsAPI.swift
  Stepic/Legacy/Model/Network/Meta.swift
  Stepic/Legacy/Model/PlainObjects/SearchResult/SearchResultPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/SearchResult/SearchResultTargetType.swift
  Stepic/Legacy/Model/SearchResult.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListNetworkService.swift
  Stepic/Sources/Services/AppData/LogoutDataClearService.swift
  Stepic/Sources/Services/Models/Network/SearchResultsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/SearchQueryResultsPersistenceService.swift
  Stepic/Sources/Services/Models/Persistence/SearchResultsPersistenceService.swift
  Stepic/Sources/Services/Models/Repository/SearchResultsRepository.swift
Labels: main, 🆕 feature

#1040 Course announcements logic
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Helpers/CoreDataHelper.swift
  Stepic/Legacy/Model/Entities/Announcement/Announcement+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Announcement/Announcement.swift
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/User/User+CoreDataProperties.swift
  Stepic/Legacy/Model/JSONSerializable.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_announcements_v88.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/AnnouncementsAPI.swift
  Stepic/Legacy/Model/Network/RequestMakers/RetrieveRequestMaker.swift
  Stepic/Legacy/Model/PlainObjects/Announcements/AnnouncementPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/Announcements/AnnouncementStatus.swift
  Stepic/Sources/Services/Models/Network/AnnouncementsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/AnnouncementsPersistenceService.swift
  Stepic/Sources/Services/Models/Repository/AnnouncementsRepository.swift
Labels: main, 🆕 feature

#1042 Fix <details> content not visible
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingRule.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessor.swift
Labels: main, 🐛 bug

#1045 Release 1.190
  Gemfile
  Gemfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingRule.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessor.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release, dependencies

#1047 Swift 5.4
  Podfile
  Podfile.lock
Labels: main, dependencies, 🎯 project management

#1048 Update dependencies 1.191
  .swiftlint.yml
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Frameworks/ContentProcessor/View/ProcessedContentView.swift
  Stepic/Sources/Modules/Discussions/Views/Cells/Discussion/DiscussionsTableViewCell.swift
  Stepic/Sources/Modules/Discussions/Views/TableViewDataSource/DiscussionsTableViewDataSource.swift
Labels: main, dependencies

#1049 Course list gradient header enhancements
  Stepic/Sources/Modules/CourseList/CourseListDataFlow.swift
  Stepic/Sources/Modules/CourseList/CourseListViewController.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListView.swift
  Stepic/Sources/Modules/CourseList/Views/Layouts/VerticalCourseListFlowLayout.swift
  Stepic/Sources/Modules/ExploreSubmodules/CourseListsCollection/Views/GradientCoursesPlaceholderView.swift
  Stepic/Sources/Modules/FullscreenCourseList/FullscreenCourseListViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1050 Course info tab news
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/Placeholders/StepikPlaceholderStyle+Placeholders.swift
  Stepic/Legacy/Helpers/CoreDataHelper.swift
  Stepic/Legacy/Model/Entities/Course/Course+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Course/Course.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_announcements_v89.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/AnnouncementsAPI.swift
  Stepic/Legacy/Model/PlainObjects/Announcements/AnnouncementStatus.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingRule.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessor.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ProcessedContent.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsDataFlow.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsProvider.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsViewModel.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/InputOutput/CourseInfoTabNewsInputProtocol.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/CourseInfoTabNewsCellView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/CourseInfoTabNewsTableViewCell.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/CourseInfoTabNewsTableViewAdapter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/CourseInfoTabNewsView.swift
  Stepic/Sources/Modules/Discussions/DiscussionsViewModel.swift
  Stepic/Sources/Services/Models/Network/AnnouncementsNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/AnnouncementsPersistenceService.swift
  Stepic/Sources/Services/Models/Persistence/BasePersistenceService.swift
  Stepic/Sources/Services/Models/Repository/AnnouncementsRepository.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1013 iOS 15 support
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Production.xcscheme
  Stepic/Legacy/Controllers/Certificates/CertificatesStoryboard.storyboard
  Stepic/Legacy/Controllers/Certificates/CertificatesViewController.swift
  Stepic/Legacy/Model/Transformers/CatalogBlockContentValueTransformer.swift
  Stepic/Legacy/Model/Transformers/DatasetValueTransformer.swift
  Stepic/Legacy/Model/Transformers/ReplyValueTransformer.swift
  Stepic/Legacy/Model/Transformers/SubmissionFeedbackValueTransformer.swift
  Stepic/Sources/Controllers/StyledTabBarViewController.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListView.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/UserCoursesReviewsView.swift
Labels: main, 🆕 feature

#1052 Course info tab news teacher mode
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/Course info news/Contents.json
  Stepic/Images.xcassets/Course info news/course-info-news-badge-correct.imageset/Contents.json
  Stepic/Images.xcassets/Course info news/course-info-news-badge-correct.imageset/course-info-news-badge-correct.pdf
  Stepic/Images.xcassets/Course info news/course-info-news-badge-eye-off.imageset/Contents.json
  Stepic/Images.xcassets/Course info news/course-info-news-badge-eye-off.imageset/course-info-news-badge-eye-off.pdf
  Stepic/Images.xcassets/Course info news/course-info-news-badge-mail.imageset/Contents.json
  Stepic/Images.xcassets/Course info news/course-info-news-badge-mail.imageset/course-info-news-badge-mail.pdf
  Stepic/Images.xcassets/Course info news/course-info-news-badge-timer.imageset/Contents.json
  Stepic/Images.xcassets/Course info news/course-info-news-badge-timer.imageset/course-info-news-badge-timer.pdf
  Stepic/Legacy/Model/Entities/User/User+CoreDataProperties.swift
  Stepic/Legacy/Model/PlainObjects/Announcements/AnnouncementPlainObject.swift
  Stepic/Legacy/Model/PlainObjects/Announcements/AnnouncementStatus.swift
  Stepic/Sources/Frameworks/ContentProcessor/Processing/ContentProcessingRule.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabInfo/Views/Blocks/CourseInfoTabInfoInstructorsBlockView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/CourseInfoTabNewsViewModel.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/Badge/CourseInfoTabNewsBadgeView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/Badge/CourseInfoTabNewsBadgesView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/CourseInfoTabNewsCellView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/CourseInfoTabNewsStatisticsView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabNews/Views/Cell/CourseInfoTabNewsTableViewCell.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Views/Section/CourseInfoTabSyllabusSectionBadgesView.swift
  Stepic/Sources/Modules/CourseRevenue/Views/CourseRevenueTabSegmentedControlView.swift
  Stepic/Sources/Modules/CourseRevenue/Views/IncomeCard/CourseRevenueIncomeView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyTableViewCell.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/Views/Cell/CourseRevenueTabPurchasesTableViewCell.swift
  Stepic/Sources/Modules/CourseSearch/Views/SearchResults/Cell/CourseSearchResultTableViewCell.swift
  Stepic/Sources/Modules/ExploreSubmodules/CatalogBlocksSubmodules/SimpleCourseList/Views/Grid/Cell/GridSimpleCourseListWidgetView.swift
  Stepic/Sources/Modules/Quizzes/CodeQuiz/Views/CodeDetails/CodeDetailsContentView.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StepQuizReviewExpandQuizView.swift
  Stepic/Sources/Modules/StepQuizReview/Views/StepQuizReviewMessageView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsReviewView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsSelectionView.swift
  Stepic/Sources/Modules/Submissions/Views/Cell/SubmissionsTableViewCell.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Cell/Leaved/UserCoursesReviewsLeavedReviewTableViewCell.swift
  Stepic/Sources/Modules/UserCoursesReviews/View/Cell/Possible/UserCoursesReviewsPossibleReviewTableViewCell.swift
  Stepic/Theme/ColorPalette.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1055 Clean up analytics
  Stepic.xcodeproj/xcshareddata/xcschemes/Stepic Production.xcscheme
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Analytics/Events/AnalyticsEvents.swift
  Stepic/Legacy/Analytics/Events/NotificationAlertsAnalytics.swift
  Stepic/Legacy/Controllers/Alerts/RateAppViewController/RateAppViewController.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesViewController.swift
  Stepic/Legacy/Controllers/Courses/SearchResults/SearchResultsPresenter.swift
  Stepic/Legacy/Controllers/Courses/SearchResults/SearchResultsViewController.swift
  Stepic/Legacy/Controllers/Notifications/NotificationsPresenter.swift
  Stepic/Legacy/Controllers/Quizzes/BaseQuiz/QuizPresenter.swift
  Stepic/Legacy/Controllers/RegistrationSignIn/AuthEmail/EmailAuthViewController.swift
  Stepic/Legacy/Controllers/RegistrationSignIn/Registration/RegistrationViewController.swift
  Stepic/Legacy/Controllers/VideoPlayer/StepikVideoPlayerViewController/StepikVideoPlayerViewController.swift
  Stepic/Sources/Frameworks/Analytics/Analytics.swift
  Stepic/Sources/Frameworks/Analytics/AnalyticsEngine.swift
  Stepic/Sources/Modules/CourseSearch/CourseSearchInteractor.swift
Labels: main, 🎯 project management

#1056 User courses reviews enhancements
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/UserCourse/UserCourse+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/UserCourse/UserCourse.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_user_course_can_be_reviewed_v90.xcdatamodel/contents
  Stepic/Legacy/Model/Network/Endpoints/UserCoursesAPI.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsWidget/UserCoursesReviewsWidgetAssembly.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsWidget/UserCoursesReviewsWidgetInteractor.swift
  Stepic/Sources/Modules/HomeSubmodules/UserCoursesReviewsWidget/UserCoursesReviewsWidgetProvider.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsAssembly.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsInteractor.swift
  Stepic/Sources/Modules/UserCoursesReviews/UserCoursesReviewsProvider.swift
  Stepic/Sources/Services/Models/Network/UserCoursesNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/UserCoursesPersistenceService.swift
Labels: main, 🆕 feature
