Repository StepicOrg/stepik-ios, pull requests merged in 2022-03, with the labels that each got.

#1127 Release 1.212
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Services/UnitNavigationService.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/metadata/Stepic/en-GB/description.txt
  fastlane/metadata/Stepic/en-GB/promotional_text.txt
  fastlane/metadata/Stepic/en-US/description.txt
  fastlane/metadata/Stepic/en-US/promotional_text.txt
  fastlane/metadata/Stepic/ru/description.txt
  fastlane/metadata/Stepic/ru/promotional_text.txt
  fastlane/release-notes.txt
Labels: main, release

#1131 Deep link to course info
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoute.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoutingService.swift
  StepicTests/Sources/Tests/DeepLinkRouteTests.swift
Labels: main, 🐛 bug

#1132 Fix unsupported code languages
  Stepic/Legacy/Controllers/Quizzes/CodeQuiz/CodeLanguages.swift
Labels: main, 🐛 bug, 🆕 feature

#1133 Certificate detail screen
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/CertificateDetail/Contents.json
  Stepic/Images.xcassets/CertificateDetail/certificate-detail-badge-distinction.imageset/Contents.json
  Stepic/Images.xcassets/CertificateDetail/certificate-detail-badge-distinction.imageset/certificate-detail-badge-distinction-dark.pdf
  Stepic/Images.xcassets/CertificateDetail/certificate-detail-badge-distinction.imageset/certificate-detail-badge-distinction.pdf
  Stepic/Images.xcassets/CertificateDetail/certificate-detail-badge-regular.imageset/Contents.json
  Stepic/Images.xcassets/CertificateDetail/certificate-detail-badge-regular.imageset/certificate-detail-badge-regular-dark.pdf
  Stepic/Images.xcassets/CertificateDetail/certificate-detail-badge-regular.imageset/certificate-detail-badge-regular.pdf
  Stepic/Images.xcassets/edit.imageset/Contents.json
  Stepic/Images.xcassets/edit.imageset/edit.pdf
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesPresenter.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesView.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesViewController.swift
  Stepic/Legacy/Model/Entities/Certificate/Certificate.swift
  Stepic/Legacy/Model/Network/Endpoints/CertificatesAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/WishListsAPI.swift
  Stepic/Legacy/Model/Network/RequestMakers/UpdateRequestMaker.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoute.swift
  Stepic/Legacy/Services/DeepLinks/DeepLinkRoutingService.swift
  Stepic/Legacy/Views/Skeleton/Views/CertificateDetailSkeletonView.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Model/StepikURLFactory.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailAssembly.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailDataFlow.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailInteractor.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailPresenter.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailProvider.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailViewController.swift
  Stepic/Sources/Modules/CertificateDetail/CertificateDetailViewModel.swift
  Stepic/Sources/Modules/CertificateDetail/InputOutput/CertificateDetailOutputProtocol.swift
  Stepic/Sources/Modules/CertificateDetail/Views/CertificateDetailEditButton.swift
  Stepic/Sources/Modules/CertificateDetail/Views/CertificateDetailGradeView.swift
  Stepic/Sources/Modules/CertificateDetail/Views/CertificateDetailPreviewView.swift
  Stepic/Sources/Modules/CertificateDetail/Views/CertificateDetailVerticalTitleView.swift
  Stepic/Sources/Modules/CertificateDetail/Views/CertificateDetailView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedStepsPanModal/LessonFinishedStepsPanModalProvider.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesAssembly.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesDataFlow.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesInteractor.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesPresenter.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesProvider.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesViewController.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesViewModel.swift
  Stepic/Sources/Services/Models/Network/CertificatesNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CertificatesPersistenceService.swift
  Stepic/Sources/Services/Models/Repository/CertificatesRepository.swift
  Stepic/Sources/Services/Models/Repository/CoursesRepository.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Sources/Tests/DeepLinkRouteTests.swift
  StepicTests/Sources/Tests/ModelTests/StepikURLFactoryTests.swift
  StepikModel/Sources/Extensions/DateExtensions.swift
  StepikModel/Sources/StepikModel/Certificate.swift
  StepikModel/Sources/StepikModel/WishlistEntry.swift
  StepikModel/Tests/StepikModelTests/CertificateTests.swift
  StepikModel/Tests/StepikModelTests/DateExtensionsTests.swift
Labels: main, 🆕 feature

#1139 Fix promo banner not clickable
  Stepic/Sources/Views/PromoBannerView.swift
Labels: main, 🐛 bug

#1141 Release 1.216
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/AppDelegate.swift
  Stepic/Legacy/Controllers/RegistrationSignIn/AuthSocial/SocialAuthProviders.swift
  Stepic/Legacy/Controllers/RegistrationSignIn/AuthSocial/SocialAuthViewController.swift
  Stepic/Legacy/Model/Network/SocialSDKProviders/FBSocialSDKProvider.swift
  Stepic/Sources/Views/PromoBannerView.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release, dependencies

#1142 Analytics accessibility
  Stepic/Legacy/Analytics/AnalyticsUserProperties.swift
  Stepic/Legacy/AppDelegate.swift
Labels: main, 🆕 feature
