Repository StepicOrg/stepik-ios, pull requests merged in 2022-01, with the labels that each got.

#1090 Course revenue fixes
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_revenue_fixes_v93.xcdatamodel/contents
  Stepic/Legacy/Model/PlainObjects/CourseBenefitPlainObject.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenuePresenter.swift
  Stepic/Sources/Modules/CourseRevenue/Views/CourseRevenueDisclaimerView.swift
  Stepic/Sources/Modules/CourseRevenue/Views/CourseRevenueHeaderView.swift
  Stepic/Sources/Modules/CourseRevenue/Views/IncomeCard/CourseRevenueIncomeItemView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/Views/CourseBenefitDetailItemView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/Views/CourseBenefitDetailView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/CourseRevenueTabMonthlyPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/CourseRevenueTabMonthlyViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyCellView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyItemView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyTotalView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/Views/Cell/CourseRevenueTabPurchasesCellView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1091 Course revenue display manual course benefits
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit.swift
  Stepic/Legacy/Model/PlainObjects/CourseBenefitPlainObject.swift
  Stepic/Sources/Modules/CourseRevenue/Views/CourseRevenueHeaderView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailInteractor.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/Views/CourseBenefitDetailView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesInteractor.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesProvider.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/Views/Cell/CourseRevenueTabPurchasesCellView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1092 Local notifications analytics
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/Profile/NotificationTimePickerViewController.swift
  Stepic/Sources/Frameworks/Notifications/Local/ConcreteNotifications/RetentionLocalNotification.swift
  Stepic/Sources/Frameworks/Notifications/Local/ConcreteNotifications/StreakLocalNotification.swift
  Stepic/Sources/Frameworks/Notifications/Local/LocalNotificationsMigrator.swift
  Stepic/Sources/Frameworks/Notifications/NotificationsService.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsAssembly.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsInteractor.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsProvider.swift
  Stepic/Sources/Services/Models/Persistence/SubmissionsPersistenceService.swift
Labels: main, 🆕 feature

#1093 Release 1.205
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/Controllers/Profile/NotificationTimePickerViewController.swift
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/CourseBenefit/CourseBenefit.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/.xccurrentversion
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_revenue_fixes_v93.xcdatamodel/contents
  Stepic/Legacy/Model/PlainObjects/CourseBenefitPlainObject.swift
  Stepic/Sources/Controllers/StyledTabBarViewController.swift
  Stepic/Sources/Frameworks/Notifications/Local/ConcreteNotifications/RetentionLocalNotification.swift
  Stepic/Sources/Frameworks/Notifications/Local/ConcreteNotifications/StreakLocalNotification.swift
  Stepic/Sources/Frameworks/Notifications/Local/LocalNotificationsMigrator.swift
  Stepic/Sources/Frameworks/Notifications/NotificationsService.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseRevenue/CourseRevenuePresenter.swift
  Stepic/Sources/Modules/CourseRevenue/Views/CourseRevenueDisclaimerView.swift
  Stepic/Sources/Modules/CourseRevenue/Views/CourseRevenueHeaderView.swift
  Stepic/Sources/Modules/CourseRevenue/Views/IncomeCard/CourseRevenueIncomeItemView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailInteractor.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/CourseBenefitDetailViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/Views/CourseBenefitDetailItemView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseBenefitDetail/Views/CourseBenefitDetailView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/CourseRevenueTabMonthlyPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/CourseRevenueTabMonthlyViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyCellView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyItemView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabMonthly/Views/Cell/CourseRevenueTabMonthlyTotalView.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesInteractor.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesPresenter.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesProvider.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/CourseRevenueTabPurchasesViewModel.swift
  Stepic/Sources/Modules/CourseRevenueSubmodules/CourseRevenueTabPurchases/Views/Cell/CourseRevenueTabPurchasesCellView.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsAssembly.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsInteractor.swift
  Stepic/Sources/Modules/NewProfileSubmodules/StreakNotifications/NewProfileStreakNotificationsProvider.swift
  Stepic/Sources/Services/Models/Persistence/SubmissionsPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/metadata/Stepic/copyright.txt
  fastlane/release-notes.txt
Labels: main, release

#1095 Update dependencies 1.206
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/AppDelegate.swift
  Stepic/Legacy/Model/Network/SocialSDKProviders/GoogleIDSocialSDKProvider.swift
  Stepic/Sources/Common/ImageDataProvider.swift
Labels: main, dependencies

#1096 IAP forward original errors
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsService.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPReceiptValidationService.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPService.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalPresenter.swift
  Stepic/Sources/Services/Models/Network/CoursePaymentsNetworkService.swift
Labels: main, 🆕 feature

#1097 Course info restore purchase
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsCache.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsService.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoHeaderViewModel.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1098 Release 1.206
  Gemfile
  Gemfile.lock
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Analytics/Events/AmplitudeAnalyticsEvents.swift
  Stepic/Legacy/AppDelegate.swift
  Stepic/Legacy/Model/Network/SocialSDKProviders/GoogleIDSocialSDKProvider.swift
  Stepic/Sources/Common/ImageDataProvider.swift
  Stepic/Sources/Frameworks/Analytics/AnalyticsEngine.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsCache.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPPaymentsService.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPReceiptValidationService.swift
  Stepic/Sources/Frameworks/InAppPurchases/IAPService.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoDataFlow.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoHeaderViewModel.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoPresenter.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalPresenter.swift
  Stepic/Sources/Services/Models/Network/CoursePaymentsNetworkService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/Fastfile
  fastlane/release-notes.txt
Labels: main, release, dependencies

#1099 Increase timeout interval for requests
  Stepic/Legacy/Model/Network/APIDefaults.swift
  Stepic/Legacy/Model/Network/AuthAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/APIEndpoint.swift
  Stepic/Legacy/Model/Network/Endpoints/CoursesAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/UnitsAPI.swift
  Stepic/Legacy/Model/Network/StepikURLSessionConfiguration.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Provider/CourseInfoTabSyllabusProvider.swift
  Stepic/Sources/Modules/CourseList/CourseListAssembly.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
Labels: main, 🆕 feature

#1102 Finished demo lesson modal fixes
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalProvider.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewModel.swift
  Stepic/Sources/Services/Models/Repository/MobileTiersRepository.swift
Labels: main, 🐛 bug

#1103 Finished demo lesson modal add course to wishlist
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/Views/ActionButtons/CourseInfoPurchaseModalActionButtonsView.swift
  Stepic/Sources/Modules/Lesson/InputOutput/LessonOutputProtocol.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/InputOutput/LessonFinishedDemoPanModalOutputProtocol.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalProvider.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewModel.swift
Labels: main, 🆕 feature

#1104 Release 1.207
  Gemfile
  Gemfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Model/Entities/Section/Section.swift
  Stepic/Legacy/Model/Network/APIDefaults.swift
  Stepic/Legacy/Model/Network/AuthAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/APIEndpoint.swift
  Stepic/Legacy/Model/Network/Endpoints/CoursesAPI.swift
  Stepic/Legacy/Model/Network/Endpoints/UnitsAPI.swift
  Stepic/Legacy/Model/Network/StepikURLSessionConfiguration.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoAssembly.swift
  Stepic/Sources/Modules/CourseInfo/CourseInfoInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/Views/ActionButtons/CourseInfoPurchaseModalActionButtonsView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusInteractor.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/CourseInfoTabSyllabusPresenter.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoTabSyllabus/Provider/CourseInfoTabSyllabusProvider.swift
  Stepic/Sources/Modules/CourseList/CourseListAssembly.swift
  Stepic/Sources/Modules/CourseList/Provider/CourseListTypes.swift
  Stepic/Sources/Modules/Lesson/InputOutput/LessonOutputProtocol.swift
  Stepic/Sources/Modules/Lesson/LessonDataFlow.swift
  Stepic/Sources/Modules/Lesson/LessonInteractor.swift
  Stepic/Sources/Modules/Lesson/LessonViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/InputOutput/LessonFinishedDemoPanModalOutputProtocol.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalAssembly.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalDataFlow.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalInteractor.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalPresenter.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalProvider.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalView.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewController.swift
  Stepic/Sources/Modules/LessonPanModals/LessonFinishedDemoPanModal/LessonFinishedDemoPanModalViewModel.swift
  Stepic/Sources/Services/Models/Repository/MobileTiersRepository.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release, dependencies

#1106 Hotfix 1.207
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalViewController.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/Views/CourseInfoPurchaseModalView.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
Labels: main, release

#1108 Course list new progress with certificate
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseList/CourseListPresenter.swift
  Stepic/Sources/Modules/CourseList/CourseWidgetViewModel.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListColorMode.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressCertificateThresholdPointView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressCertificateThresholdValueView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Stats/CourseWidgetStatsItemView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Stats/CourseWidgetStatsView.swift
  Stepic/Theme/ColorPalette.swift
Labels: main, 🆕 feature
