Repository StepicOrg/stepik-ios, pull requests merged in 2022-02, with the labels that each got.

#1109 Release 1.208
  Gemfile
  Gemfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/CourseList/CourseListPresenter.swift
  Stepic/Sources/Modules/CourseList/CourseWidgetViewModel.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListCollectionViewCell.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListColorMode.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/CourseWidgetView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressBarView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressCertificateThresholdPointView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressCertificateThresholdValueView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Progress/CourseWidgetProgressView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/SmallCourseWidgetView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Stats/CourseWidgetStatsItemView.swift
  Stepic/Sources/Modules/CourseList/Views/Widget/Stats/CourseWidgetStatsView.swift
  Stepic/Theme/ColorPalette.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release, dependencies

#1114 Certificates change recipient name
  Stepic.xcodeproj/project.pbxproj
  Stepic/Legacy/Controllers/Certificates/CertificateTableViewCell/CertificateTableViewCell.swift
  Stepic/Legacy/Controllers/Certificates/CertificateTableViewCell/CertificateTableViewCell.xib
  Stepic/Legacy/Controllers/Certificates/CertificateViewData.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesPresenter.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesStoryboard.storyboard
  Stepic/Legacy/Controllers/Certificates/CertificatesView.swift
  Stepic/Legacy/Controllers/Certificates/CertificatesViewController.swift
  Stepic/Legacy/Helpers/Containers/Presentation/CertificatesPresentationContainer.swift
  Stepic/Legacy/Helpers/Containers/Presentation/PresentationContainer.swift
  Stepic/Legacy/Model/Entities/Certificate/Certificate+CoreDataProperties.swift
  Stepic/Legacy/Model/Entities/Certificate/Certificate.swift
  Stepic/Legacy/Model/Model.xcdatamodeld/Model_course_acquired_skills_v94.xcdatamodel/contents
  Stepic/Legacy/Model/Network/ApiDataDownloader.swift
  Stepic/Legacy/Model/Network/Endpoints/CertificatesAPI.swift
  Stepic/Legacy/Model/Parser.swift
  Stepic/Sources/Helpers/FormatterHelper.swift
  Stepic/Sources/Modules/NewProfileSubmodules/Certificates/NewProfileCertificatesProvider.swift
  Stepic/Sources/Services/Models/Network/CertificatesNetworkService.swift
  Stepic/Sources/Services/Models/Persistence/CertificatesPersistenceService.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1116 Update dependabot.yml
  .github/dependabot.yml
Labels: main

#1119 New home release v1
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_gradient.imageset/Contents.json
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_gradient.imageset/new_courses_gradient.pdf
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_gradient.imageset/new_courses_gradient_dark.pdf
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_placeholder_gradient_large.imageset/Contents.json
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_placeholder_gradient_large.imageset/new_courses_placeholder_gradient_large.pdf
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_placeholder_gradient_small.imageset/Contents.json
  Stepic/Images.xcassets/Course_list_placeholder/new_courses_placeholder_gradient_small.imageset/new_courses_placeholder_gradient_small.pdf
  Stepic/Legacy/Views/Skeleton/Views/CourseList/ContinueCourseSkeletonView.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListColorMode.swift
  Stepic/Sources/Modules/CourseList/Views/CourseListView.swift
  Stepic/Sources/Modules/Explore/View/CourseListContainerViewFactory.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockContainerView/ExploreBlockContainerView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockPlaceholderView/ExploreBlockPlaceholderView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockPlaceholderView/ExplorePlaceholderActionButton.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockPlaceholderView/ExplorePlaceholderView.swift
  Stepic/Sources/Modules/Explore/View/ExploreBlockPlaceholderView/NewExploreBlockPlaceholderView.swift
  Stepic/Sources/Modules/Home/HomeViewController.swift
  Stepic/Sources/Views/ContinueLastStepView/ContinueLastStepView.swift
  Stepic/en.lproj/Localizable.strings
  Stepic/ru.lproj/Localizable.strings
Labels: main, 🆕 feature

#1120 Authors promo banners
  Stepic.xcodeproj/project.pbxproj
  Stepic/Images.xcassets/PromoBannersIllustrations/Contents.json
  Stepic/Images.xcassets/PromoBannersIllustrations/promo-banner-illustration-bicycle-green.imageset/Contents.json
  Stepic/Images.xcassets/PromoBannersIllustrations/promo-banner-illustration-bicycle-green.imageset/promo-banner-illustration-bicycle-green.pdf
  Stepic/Images.xcassets/PromoBannersIllustrations/promo-banner-illustration-bicycle-violet.imageset/Contents.json
  Stepic/Images.xcassets/PromoBannersIllustrations/promo-banner-illustration-bicycle-violet.imageset/promo-banner-illustration-bicycle-violet.pdf
  Stepic/Images.xcassets/PromoBannersIllustrations/promo-banner-illustration-work.imageset/Contents.json
  Stepic/Images.xcassets/PromoBannersIllustrations/promo-banner-illustration-work.imageset/promo-banner-illustration-work.pdf
  Stepic/Legacy/Analytics/Events/AnalyticsEvents.swift
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  Stepic/Sources/Model/PromoBanner.swift
  Stepic/Sources/Modules/BaseExplore/BaseExploreInteractor.swift
  Stepic/Sources/Modules/BaseExplore/BaseExploreViewController.swift
  Stepic/Sources/Modules/Explore/ExploreDataFlow.swift
  Stepic/Sources/Modules/Explore/ExploreInteractor.swift
  Stepic/Sources/Modules/Explore/ExplorePresenter.swift
  Stepic/Sources/Modules/Explore/ExploreViewController.swift
  Stepic/Sources/Modules/Home/HomeDataFlow.swift
  Stepic/Sources/Modules/Home/HomeInteractor.swift
  Stepic/Sources/Modules/Home/HomePresenter.swift
  Stepic/Sources/Modules/Home/HomeViewController.swift
  Stepic/Sources/Services/PromoBannersService.swift
  Stepic/Sources/Views/PromoBannerView.swift
  Stepic/Theme/ColorPalette.swift
Labels: main, 🆕 feature

#1122 Raise minimum deployment target
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/NewProfile/Views/NewProfileView.swift
  Stepic/Sources/Views/ScrollableStackView.swift
Labels: main, dependencies, 🎯 project management

#1124 Update course info header view layout
  Stepic.xcodeproj/project.pbxproj
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoHeaderTitleView.swift
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoHeaderView.swift
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoView.swift
Labels: main, 🆕 feature

#1125 Release 1.211
  Podfile
  Podfile.lock
  Stepic.xcodeproj/project.pbxproj
  Stepic/Info-Develop.plist
  Stepic/Info-Production.plist
  Stepic/Info-Release.plist
  Stepic/Legacy/Controllers/Placeholders/ControllerWithStepikPlaceholder.swift
  Stepic/Legacy/Model/RemoteConfig/RemoteConfig.swift
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoHeaderTitleView.swift
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoHeaderView.swift
  Stepic/Sources/Modules/CourseInfo/Views/CourseInfoView.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalAssembly.swift
  Stepic/Sources/Modules/CourseInfoSubmodules/CourseInfoPurchaseModal/CourseInfoPurchaseModalInteractor.swift
  Stepic/Sources/Modules/NewProfile/NewProfileAssembly.swift
  Stepic/Sources/Modules/NewProfile/NewProfileDataFlow.swift
  Stepic/Sources/Modules/NewProfile/NewProfileViewController.swift
  Stepic/Sources/Modules/NewProfile/Views/NewProfileView.swift
  Stepic/Sources/Views/ScrollableStackView.swift
  StepicTests/Info-Develop.plist
  StepicTests/Info-Production.plist
  StepicTests/Info-Release.plist
  StepicUITests/Info-Develop.plist
  StepicUITests/Info-Production.plist
  StepicUITests/Info-Release.plist
  StepicWidget/Info-Develop.plist
  StepicWidget/Info-Production.plist
  StepicWidget/Info-Release.plist
  StickerPackExtension/Info-Develop.plist
  StickerPackExtension/Info-Production.plist
  StickerPackExtension/Info-Release.plist
  fastlane/release-notes.txt
Labels: main, release, dependencies

#1126 Fix next unit navigation no section data
  Stepic/Sources/Services/UnitNavigationService.swift
Labels: main, 🐛 bug
